.THIS .atAGlanceField{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.THIS.slds-col--padded{
   
    flex: inherit!important;
}

@media (max-width:1400px){
 .THIS .atAGlanceField{
   /* max-width: 110px;*/
}      
}