.THIS .required1 {
    border-bottom: 2px solid #0A2638;
}
.THIS .DivPad1 {
        padding-top: 6px;
    padding-bottom: 6px;
}  
.THIS .Button1 {
  float:right;
    margin-right: 4px;
}


.THIS .tdClass {
  vertical-align: top;
}
.THIS .slds-tabs--scoped__nav {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#607ca4+0,4e6994+100 */
background: #607ca4; /* Old browsers */
background: -moz-linear-gradient(top, #607ca4 0%, #4e6994 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #607ca4 0%,#4e6994 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #607ca4 0%,#4e6994 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#607ca4', endColorstr='#4e6994',GradientType=0 ); /* IE6-9 */
border:1px solid #547098
}

.THIS .slds-tabs--scoped__link {
  color: #fff;
}

.THIS .slds-tabs--scoped__link:hover, .THIS .slds-tabs--scoped__link:focus {
  border-color: #547098;
  color: #a8b8d1;
}
.THIS  .slds-active .slds-tabs--scoped__link {
  background-color:#a8b8d1;
  color: #fff; 
}
.THIS .slds-table--bordered {
  border: 1px solid #d8dde6;
}
.THIS .slds-table th {
  font-weight: 400; background:#eef1f6
}
.THIS .slds-active .THIS .slds-tabs--scoped__link {
  border-color: #516c97;
}
.THIS .spanMnditoryClass{
    color: Red;
    Font-weight: bold;
    position: absolute;
    left: 0;
    top: 8px;
}
.THIS .validationClass {
        border: 1px solid red;
    border-radius: 4px;
}
.THIS .slds-table tr>th:first-child {
    padding-left: .5rem;
}
.THIS .slds-table tr>td:first-child {
    padding-left: .5rem;
}
.THIS .textAreaStyle {
    height: 38px;
    padding: 0 0.75rem;
       border-radius: 4px;
}
.THIS .slds-input {
    line-height: 32px!important;
}
.THIS .slds-truncate textarea{ resize:inherit}
.THIS .deletebtn:focus{ outline: 0   }
.THIS .hidediv{
   /* background-color: rgb(233, 234, 236);
    border-color: rgb(196, 198, 202);
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
    
   cursor: not-allowed!important;
    pointer-events: none!important;
    opacity: 0.5!important;
   /* background: rgba(0, 0, 0, 0.10)!important;*/
}
.THIS .alrequired input {
    border-left: 0px solid red!important;
}