<apex:page standardController="Contract_Vehicle__c"  extensions="TM_ContractAtAGlanceController" showHeader="false" sidebar="false">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <apex:stylesheet value="{!URLFOR($Resource.SLDS104, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
        <!--<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>-->
<script src="{!URLFOR($Resource.externallib, 'jquery-1.11.1.min.js')}"></script>
<style>

.atAGlance{
background:#ffffff;
padding:10px 10px;
border-radius:5px;
display:inline-block;
width:97%;
margin-top:20px;
border:1px solid #ccc;
}
.wrapDiv{display: inline-block;
width: 100%;
margin: 20px 0;}
.fieldImg{float: left; display: inline-block; margin: 0 10px 0 0;}
.bidbox{ font-size: 18px;overflow:hidden; padding: 5px 0 0 0;line-height: 18px;}/*white-space: nowrap;*/
.bidbox p{font-weight: 600;font-size: 16px;}
.bidbox1{overflow: inherit;}/*word-break: break-all;white-space: normal;*/
.wraptx{max-width: 100%;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
display: block;}
.slds .slds-col--padded {
flex: inherit;
}
/*class to remove lookup field popup*/
a{
color:black;text-decoration:none;cursor:default}
.slds a:hover, .slds a:focus {
text-decoration: none;
color: inherit;
}
.lookupHoverDetail {

display: none!important;
}
.slds a {
color: inherit;
}

</style>
<apex:includeLightning />
<apex:outputPanel rendered="{!isValidLiecence == 'Yes'}">
<div class="slds atAGlance slds-show" >
<div class="slds-grid slds-wrap sectionwrap">
<div class="slds-col--padded slds-size--12-of-12"></div>
<div class="slds-col--padded slds-size--12-of-12">
<div aura:id="atAGlanceContainer" class="slds-grid slds-wrap slds-grid--pull-padded">
<apex:variable value="{!0}" var="loopCount" />
<apex:repeat value="{!conAtAGlanceList}" var="ataGlance" >
<apex:outputPanel rendered="{!! ataGlance.Is_Component__c}" styleClass="{! IF(ataGlance.ColSpan__c == null,'slds-col--padded slds-size--12-of-12 slds-medium-size--2-of-12 slds-large-size--2-of-12','slds-col--padded slds-col--padded slds-size--12-of-12 slds-medium-size--'+TEXT(ataGlance.ColSpan__c)+'-of-12 slds-large-size--'+TEXT(ataGlance.ColSpan__c)+'-of-12') }">
<div id="mainDiv" style="{!'color: '+ataGlance.Color__c}" >
<div id="wrapDiv" class="wrapDiv" >
<span id="imgSpan" class="fieldImg" style="{!if(ataGlance.Document_Id__c=='', 'display:none','display:block')}">
<img id="nameP" src="{!'/servlet/servlet.FileDownload?file='+ataGlance.Document_Id__c}" />
</span>
<div id="namediv" class="bidbox" >{!ataGlance.FieldLabel__c}
<!--wraptx-->   <p id="nameP" class="bidbox1"><apex:outputField value="{!conVehicle[ataGlance.FieldApiName__c]}" /> </p>
    </div>
</div>
</div>
</apex:outputPanel>
<apex:outputPanel rendered="{!ataGlance.Is_Component__c && ataGlance.AppApi__c != null &&  ataGlance.AppApi__c != ''}" styleClass="{! IF(ataGlance.ColSpan__c == null,'slds-col--padded slds-size--12-of-12 slds-medium-size--2-of-12 slds-large-size--2-of-12','slds-col--padded slds-size--'+TEXT(ataGlance.ColSpan__c)+'-of-12') }">
    <div id="mainDiv{!loopCount}" style="{!'color: '+ataGlance.Color__c}" >
        <script>
        
        $Lightning.use("{!ataGlance.AppApi__c}", function() {
            
            $Lightning.createComponent("{!ataGlance.FieldApiName__c}",
                                       {recordId : "{!conVehicle.Id}",
                                        colSpan : "{!ataGlance.ColSpan__c}"
                                       },
                                       "mainDiv{!loopCount}",
                                       function(cmp) {
                                           
                                       });
        }); 
        
        </script>
    </div>
</apex:outputPanel>
<apex:variable value="{!loopCount + 1}" var="loopCount" />
</apex:repeat>
</div> 
</div>  
</div>            
</div>
</apex:outputPanel>
<apex:outputpanel styleclass="slds info slds-show" rendered="{!isValidLiecence != 'Yes'}">
    <div class="slds info slds-show">
        <img style="max-width: 48px;" class="headerImg" src="{!$Resource.TM_TOMA__infoImg+'/infoImg/info.png'}"/>{!isValidLiecence}<!--You don't have permission to access this component please contact your Administrator.-->
    </div>
</apex:outputpanel>
<script>
// alert('ttext');
// console.log("Test = "+$("a"));

$("a[id^='lookup']").each(function() {
    $(this).removeAttr("href");
    $(this).css("cursor", "default");
});
</script>
</html>

</apex:page>