<apex:page extensions="TM_ContractDetailPageController" standardController="Contract_Vehicle__c" sidebar="false" showHeader="false" id="completePage">
    <script>
    function resize() {
        var reload ='{!JSENCODE($CurrentPage.Parameters.reload)}';
        if(reload == '1'){
            var scrollHeight ='{!JSENCODE($CurrentPage.Parameters.frameHeight)}';
            if(scrollHeight == null || scrollHeight == '' || scrollHeight == undefined || scrollHeight == 'undefined'){
                var height = document.getElementsByTagName("html")[0].scrollHeight;
                var bidId = '{!contractVehicle.Id}';
                window.parent.location = "/one/one.app#/sObject/"+bidId+"/view?frameHeight="+height ;
            }
        }
    }
    
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires;
    }
    
    $( document ).ready(function() {
        //console.log( "ready!" );
        resize();
    });
    
    
    </script>
    <apex:outputPanel id="completeDiv">
        <html xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <apex:stylesheet value="{!URLFOR($Resource.mycssjs, 'mycssjs/bootstrap.min.css')}" />
            <!--<apex:stylesheet value="{!URLFOR($Resource.SLDS203, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />-->
            <apex:stylesheet value="{!URLFOR($Resource.mycssjs, 'mycssjs/salesforce-lightning-design-system-vf.css')}" />
            <!--<apex:includeScript value="{!URLFOR($Resource.mycssjs, 'mycssjs/bootstrap.min.js')}"/>-->     
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js "></script>
            
            <script src="{!URLFOR($Resource.timepicker, 'jquery.timepicker.js')}"></script>
            <apex:stylesheet value="{!URLFOR($Resource.timepicker, 'jquery.timepicker.css')}" />
            <script src="{!URLFOR($Resource.aljs, '/src/jquery.aljs-init.js')}"></script>
            <script src="{!URLFOR($Resource.aljs, '/src/jquery.aljs-lookup.js')}"></script>
            <script src="{!URLFOR($Resource.aljs, '/src/jquery.aljs-datepicker.js')}"></script>
            <script src="{!URLFOR($Resource.aljs, '/src/jquery.aljs-picklist.js')}"></script>
            <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" />
            <apex:includeScript value="/soap/ajax/29.0/connection.js"/>
            <apex:includeScript value="/soap/ajax/29.0/apex.js"/>
            
            
            <script>
            
            $(document).ready(function(){
                
                
                
                
                var refreshParent='{!JSENCODE($CurrentPage.Parameters.refreshParent)}';
                console.log("refreshParent"+refreshParent);
                if(refreshParent== '1'){
                    if(confirm('Your updates have been saved successfully. Please click Ok to refresh the page.')){
                        var bidId = '{!contractVehicle.Id}';
                        window.top.location.href="/"+bidId;
                    }
                }
                
            });
            
            
            //ALJS Initialization   
            sforce.connection.sessionId = "{!$Api.Session_ID}";
            var assetsLoc = '{!URLFOR($Resource.SLDS104)}';
            $.aljsInit({
                assetsLocation: assetsLoc, //SLDS Static Resource Path
                scoped: true
            });
            </script>
            
            <style>
                
                
                .list-group-item:active{outline:0!important; border:0; border-width:0}
                .list-group-item:focus{outline:0!important; border:0; border-width:0}
                .list-group-item:hover{outline:0!important;border:0; border-width:0}
                
                .editicon:active{outline:0!important; border:0; border-width:0}
                .editicon:focus{outline:0!important; border:0; border-width:0}
                .editicon:hover{outline:0!important;border:0; border-width:0}
                
                .disableElement,.disable,.disabled{
                cursor: not-allowed;
                pointer-events: none;
                opacity: 0.5;
                
                background: rgba(0, 0, 0, 0.10);
                }
                
                
                
                .reqLabel{
                font-style: italic;
                font-size: 13px;
                }
                .slds .slds-picklist .slds-dropdown{
                width: 100%!important;
                max-width: 100%!important;
                }
                .slds .slds-picklist__label{
                width: 100%;
                max-width: 100%;
                }
                .divalrequired.lookupreq input, .divalrequired.lookupreq .slds-pill_container, .divalrequired .slds-picklist__label{
                border-left:  4px solid red!important;
                }
                
                <!--newlly added-->
                .divalrequired .dateTimeinput{
                border-left:  4px solid red!important;
                }
                .alrequired{
                border-left: 4px solid red!important;
                }
                
                .divactrequired.lookupreq input, .divactrequired.lookupreq .slds-pill_container, .divactrequired .slds-picklist__label{
                border-left: 4px solid red!important;
                }
                
                <!--newlly added-->
                .divactrequired .dateTimeinput{
                border-left:  4px solid red!important;
                }
                .actrequired{
                border-left: 4px solid red!important;
                }
                
                .reqLabel{
                font-style: italic;
                font-size: 13px;
                }
                
                .slds .slds-input-has-icon--right .slds-input__icon {
                right: 12px;
                top: 10px;
                }
                
                .slds .slds-lookup .slds-input-has-icon--right .slds-input__icon {
                right: 12px;
                top: 18px!important;
                }
                .lookupreq .slds-pill__remove{
                top:14px!important;
                }
                
                .list-group-item:hover, list-group-item:focus {
                text-decoration: underline;
                color: #005fb2; background-color: #f5f5f5;
                border-bottom: 1px solid #ccc;
                
                }
                
                .list-group-item {
                background-color: #fff;
                border: 0;
                border-bottom: 1px solid #ccc;
                margin-bottom:0;
                cursor: pointer;
                }
                
                .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
                z-index: 2;
                color: #fff;
                background-color: #0070d2;
                border-color: #0070d2;
                }
                
                .list-group .list-group-item.active:after{
                content: '';
                position: absolute;
                left: 100%;
                top: 50%;
                margin-top: -13px;
                border-left: 0;
                border-bottom: 13px solid transparent;
                border-top: 13px solid transparent;
                border-left: 10px solid #0070d2;
                }
                
                .slds mark:empty {
                display: none;
                }
                
                .slds-scope .slds-button {
                padding: 5px 20px;
                font-size: 14px;
                }
                
                .bhoechie-tab-content .slds-table th {
                color: #16325c;
                }
                .bottomforty{bottom:40px!important;}
                .slds a:focus {
                outline: 0;
                }
                
                /*Edited by Moreshwar on 07 April*/
                
                
                a.uiDayInMonthCell--default {
                font-family: "Salesforce Sans", Arial, sans-serif;
                font-size: 12px;
                height:32px;
                width:32px;
                line-height:32px;
                border-radius:50%
                }
                .uiDatePickerGrid--default .calGrid .calRow td {
                border: 0;
                padding: 4px;
                }
                a.uiDayInMonthCell--default.desktop:hover, a.uiDayInMonthCell--default.desktop:focus, a.uiDayInMonthCell--default.desktop:active {
                background-color: #f4f6f9;
                text-shadow: none;
                box-shadow: none;
                outline: 0;
                text-decoration: none;
                }
                .uiDatePicker--default .dateBar {
                background-color: inherit;
                }
                .uiDatePickerGrid--default thead {
                background-color: inherit;
                border-bottom: 0;
                }
                .uiDatePicker--default .dateBar .monthYear {
                /* font-family: "Salesforce Sans", Arial, sans-serif;
                font-size: 1em;
                color: #3c3d3e;
                line-height: 1.1;
                font-weight: bold;*/
                font-size: 1.80em;
                line-height: 24px !important;
                margin: 0;
                
                }
                .uiDatePicker--default .dateBar select {
                color: #16325c;
                font-family: "Salesforce Sans", Arial, sans-serif;
                font-size: 12px;
                background-color: inherit;
                }
                
                
                .uiDatePicker--default .dateBar select{
                background-color: white;
                color: #16325c;
                border: 1px solid #d8dde6;
                border-radius: 4px;
                width: 100%;
                transition: border 0.1s linear, background-color 0.1s linear;
                height: 34px;
                padding:0 20px 0 5px
                }
                
                .uiDatePickerGrid--default .calGrid th {
                color:#54698d;
                font-size: 12px;
                font-family: 'Salesforce Sans", Arial, sans-serif';}
                
                a.uiDayInMonthCell--default.selectedDate, a.uiDayInMonthCell--default.start-date:not(.selectedDate), a.uiDayInMonthCell--default.end-date:not(.selectedDate) {
                background-color: #005fb2;
                background: -webkit-linear-gradient(#005fb2,#005fb2);
                background: linear-gradient(#005fb2,#005fb2);
                box-shadow: none;
                box-sizing: border-box;
                padding: 1px;
                color: #fff!important;
                }
                .uiDatePickerGrid--default .uiDatePickerGrid{padding:0 0 5px 0}
                .uiDatePicker--default .dateBar select {
                height: auto;
                }
                a.uiDayInMonthCell--default.todayDate {
                background-color: #f4f6f9;
                box-shadow: none;
                color: inherit;
                text-shadow: none;
                }
                .uiDatePickerGrid{padding:0 0 5px 0}   
                .uiDatePicker--default .navLink:hover {
                background-color: inherit;
                border-color: transparent;
                box-shadow: none;
                outline: none;
                }
                .helptextimg{    
                width: 11px;
                margin-left: 2px;
                opacity: 0.6;
                }
                .infohelp{
                position:relative; display:inline-block;
                }
                .helptextpopup{
                display:none;
                }
                .infohelp:hover .helptextpopup{
                display:block;
                }
                .hlptxt{
                /*width: inherit!important;*/
                max-width: 500px;
                min-width: 150px!important;
                }
                .infohelp:hover .helptextpopup{
                display:block;}
                
                .infohelp:hover .helptextimg{opacity:1}
                .wrapsldsRec,.wrapsldsOwn{
                top: 35%;
                position: fixed;
                left: 0%;
                width: 100%;
                }
                /*new code for arrow of calender*/
                .slds .slds-section .slds-button__icon {
                transform: rotate(-0deg);
                }
                
                .uiDatePicker--default .dateBar select{
                background: url({!$Resource.images+'/images/images/dd1.png'})no-repeat 48px 5px;
                }
                /*new code End for arrow of calender*/
                .lookupHoverDetail {
                display: none!important;
                }
                .slds .slds-popover--tooltip{
                max-width: 500px!important;
                }
                .itemBody select{
                line-height: 30px;
                min-height: calc(30px + 2px);
                background-color: white;
                color: #16325c;
                border: 1px solid #d8dde6;
                border-radius: 4px;
                width: 100%;
                transition: border 0.1s linear, background-color 0.1s linear;
                display: inline-block;
                padding: 0 16px 0 12px;
                line-height: 34px;
                min-height: calc(34px + 2px);
                font: inherit;
                }
                .itemBody select[disabled]{
                background-color: #e0e5ee;
                cursor: not-allowed;
                }
                .disablebtn{
                opacity: 0.5;
                pointer-events: none;
                }
                
                <!--error Message css -->
                .msgIcon {
                display: none!important
                }
                .message .messageText h4 {
                font-weight: bold;
                display: block;
                color: #fff!important;
                }
                .message .messageText {
                color: #fff!important;
                }
                
                .message {
                opacity: 2;
                color: white;
                background-color: #c23934;
                padding: 8px;
                text-align: center;
                font-weight: 300;
                margin: 5px 0!important;
                opacity: 1!important;
                width: 100%;
                font-size: 12px;
                border: 0px;
                padding-left: 10px;
                box-shadow: 4px 6px 6px #888887;
                }
                .uiDatePicker--default.DESKTOP .datepicker__filter--month {
                float: left;
                width: 73%;
                
                }
                .helptextimg{    
                width: 11px;
                margin-left: 2px;
                opacity: 0.6;
                }
                .infohelp{
                position:relative; display:inline-block;
                }
                .helptextpopup, .helptextpopupedit{
                display:none;
                }
                .infohelp:hover .helptextpopup, .infohelp:hover .helptextpopupedit{
                display:block;
                }
                .hlptxt{
                /*width: inherit!important;*/
                max-width: 500px;
                min-width: 150px!important;
                }
                .infohelp:hover .helptextpopup, .infohelp:hover .helptextpopupedit{
                display:block;}
                
                .infohelp:hover .helptextimg{opacity:1}
                
                /*new calender css add for inner table compopnent calander ui*/
                .uiDayInMonthCell--default {
                font-size: 12px;
                }
                .uiDatePicker--default .dateBar .monthYear {
                font-size: 12px;
                }
                .uiDayInMonthCell--default.todayDate {
                box-shadow: inherit;
                color: inherit;
                text-shadow: inherit;
                }
                .uiDatePickerGrid--default .calGrid th {
                font-family: "Salesforce Sans", Arial, sans-serif;
                }  
                .uiDayInMonthCell--default{
                font-family: "Salesforce Sans", Arial, sans-serif!important;
                }
                /*End*/
                
                .slds .slds-popover--tooltip.newRightTooltip{
                right: -25px!important;
                left: inherit!important;
                }
                .slds .slds-nubbin--bottom-left.newRightTooltipArrow:before, .slds .slds-nubbin--bottom-left.newRightTooltipArrow:after {
                right: 23px;
                left: inherit;
                }
                
                .slds .slds-popover--tooltip .slds-popover__bodyedit {
                font-size: 12px;
                color: white;
                }
                .slds .slds-popover__bodyedit {
                position: relative;
                padding: 8px 12px;
                }
                .date_month{
                margin-right: 5px;
                }
                button{
                display:none!important;
                }
                input[type="submit"]{
                display:none!important;
                }
                vfCssWidth {
                width: 100%!important;
                }
                
                .slds input[type="submit"]{display:none}
                @media print {
                body {transform: scale(1,1);}
                a[href]:after {
                content: none !important;
                }
                
                
                }
                .slds-scope .slds-truncate {
                white-space: normal;
                }
                
                .slds-scope .slds-table th{
                word-break:break-word;
                
                }
                /*.deletebtn{
                display:none;
                }*/
                .TM_TOMATM_BookingValueTable .vfCssWidth {
                width: 100%;
                }
                .buttonUi{
                padding-left: 16px!important;
                padding-right: 16px!important;
                text-align: center!important;
                vertical-align: middle!important;
                background-color: #0070d2!important;
                border: 1px solid #0070d2!important;
                color: white!important;
                }
                .sectionwrap {
                padding: 20px 0!important
                margin: 0!important;
                border-radius: 5px!important;
                box-shadow: burlywood!important;
                }
                .TM_TOMAInnerBookingComponent .alrequired {
                height: 35px!important;
                }
                .TM_TOMAInnerIncentiveValueTableComponent .alrequired {
                height: 35px!important;
                }
                .TM_TOMAInnerEarnedAwardValueTableComponent .alrequired {
                height: 35px!important;
                }
                .TM_TOMAInnerLevelOfEffortValueTableComponent .alrequired {
                height: 35px!important;
                }
                .TM_TOMAInnerContractValueTableComponent .alrequired {
                height: 35px!important;
                }
                .TM_TOMAMilestoneInnerComponent .alrequired {
                height: 35px!important;
                }
                .deletebtn{
                pointer-events: none;
                cursor: default;
                text-decoration: none;
                color: black;
                }
                .input:disabled {
                background:rgb(193, 196, 202);
                }
                
                iframe .slds .slds-text-heading--label {
    			color: red;
				}
            </style>
            
            <style type="text/css" media="print">
                @media print {
                body, h1, h2, h3, ol, ul, div {border: 0; margin:0!important; padding: 0; width:100%!important; float:left!important; position: static!important; overflow:visible!important; }
                
                div{page-break-inside:always!important;} 
               table{page-break-after:always!important }
   				<!--tr, td{ page-break-inside:avoid!important; page-break-after:auto!important } -->
               
               
                
                body{}
                .bhoechie-tab{border:0}
                .buttonUi{display:none!important}
                .estimated_Cost{width:auto!important}
                .date_month{width:auto!important; display:inline-block!important; clear:inherit!important}
                .date_day{width:auto!important; display:inline-block!important; clear:inherit!important}
                
                
                
                
                @page {size: landscape}
                
                }
   
            </style>
            
            <head>
                
                <script>
                $("form :input").attr("disabled","disabled");
                var currentTab = 0;
                function myAction(){
                    $("div.tabWrapper>div.bhoechie-tab-menu>div.list-group>ul>li").click(function(e) {
                        //alert('Test'); 
                        e.preventDefault();
                        $(this).siblings('a.active').removeClass("active");
                        $(this).addClass("active");
                        var index = $(this).index();
                        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
                        currentTab = alert;
                        $("div.editSection>div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                        $("div.editSection>div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
                    });
                    
                }
                
                function onPencilClick(){
                    $(".viewPanel").css("display","none");
                    $(".editPanel").css("display","block");
                    
                }
                function setFocusOnLoad(){ /*NOOP*/ }
                function dateBlur(obj){
                    var eId = obj.id.replace('_date','');
                    if($(obj).val() == ''){
                        $('*[data-lfieldid="'+eId+'"]').val('');
                    }
                }
                function timeFOrmat(obj){
                    var eId = obj.id.replace('_time_hr','');
                    var timeVal = $(obj).val();
                    if(timeVal != ''){
                        timeVal = timeVal.replace("am"," AM").replace("pm"," PM")
                    }else{
                        timeVal = '1:00 PM';
                    }
                    var dateVal = $('#'+eId+'_date').val();
                    if(dateVal!=''){
                        $('*[data-lfieldid="'+eId+'"]').val(dateVal+' '+timeVal);
                    }else{
                        $('*[data-lfieldid="'+eId+'"]').val('');
                    }
                }
                function onTimeBlur(obj){
                    var timeVal = $(obj).val();
                    if(timeVal != ''){
                        timeVal = timeVal.replace("am"," AM").replace("pm"," PM")
                    }else{
                        $(obj).val('12:00 PM');
                        timeVal = '12:00 PM';
                    }
                }
                
                </script>
            </head>
            <body class="slds" onLoad="resize();">
                <apex:outputPanel rendered="{!isValidLiecence == 'Yes'}">
                    <div class="slds" style="height:100%" >
                        
                        <apex:includeLightning />
                        
                        <div class="col-lg-12" >
                            <apex:outputPanel id="outerWrapper">
                                <a class="slds-button buttonUi" onclick="printpage()" style="float: right;cursor: pointer;margin-top: 10px;" id="printId">Print</a>
                                
                                <a class="slds-button buttonUi" href="/{!recordId}"  style="float: left;cursor: pointer;margin-top: 10px;" id="cancelId">Cancel</a>                                
                                <script>
                               
                                function printpage() {
                                    // $("#printId").hide();
                                    //$("#cancelId").hide();
                                    
                                    // window.scale(1, 70);
                                    window.print();
                                }
                                function goBack() {
                                    window.history.go(-1);
                                }
                                </script>
                                <apex:pageMessages ></apex:pageMessages>
                                <div class="bhoechie-tab-container">
                                    <!-- <div class="tabWrapper">
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
<div class="list-group">
<ul>
<apex:repeat value="{!tabWrapperList}" var="tabWrap">

<li class="list-group-item active" data-edit="tabedit{!tabWrap.sequence}" data-toggle="tab" id="maintabedit{!tabWrap.sequence}">
{!tabWrap.tab.TabName__c} 
</li>

</apex:repeat>
</ul>
</div>
</div>
</div>-->
                                    <div  class="" style="padding-left:0" id="mainDivViewAndEdit">
                                        <apex:outputPanel id="viewPanelId" rendered="{!!stopProcessing}">
                                            <apex:stylesheet value="{!URLFOR($Resource.mycssjs, 'mycssjs/salesforce-lightning-design-system-vf.css')}" />
                                            <apex:stylesheet value="{!URLFOR($Resource.customviewpagecss)}" />
                                            <!--------------------------  View Section Start -------------------------------->
                                            <apex:outputPanel styleClass="viewPanel slds" style="{!IF(mode == 'view','display:block;','display:none;')}" >
                                                
                                                <div class="bhoechie-tab"> 
                                                    <apex:repeat value="{!tabWrapperList}" var="tabWrap">
                                                        <div class="bhoechie-tab-content active" id="tab{!tabWrap.sequence}">
                                                            <div class="slds-tabs--default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">
                                                                <div class="site-example--content"><!--slds-scrollable--x -->
                                                                    <apex:outputPanel styleClass="viewPanelSection" style="display:block;">
                                                                        <apex:repeat value="{!tabWrap.sectionWrapperList}" var="sectionWrap">
                                                                            <div class="slds-grid slds-wrap sectionwrap">
                                                                                <div class="slds-col--padded slds-size--12-of-12"><h4 class="section_heading">{!sectionWrap.section.SectionName__c}</h4></div>
                                                                                <apex:outputPanel rendered="{!!sectionWrap.section.Is_Lightning_Component__c || sectionWrap.section.Is_InlineVF_Page__c}">
                                                                                    <div class="slds-col--padded slds-size--12-of-12">
                                                                                        
                                                                                        <div class="slds-grid slds-wrap slds-grid--pull-padded">
                                                                                            <apex:variable var="fieldCounter" value="1"/>
                                                                                            <apex:repeat value="{!sectionWrap.fieldWrapperList}" var="fieldWrap">
                                                                                                <div class="slds-col--padded slds-size--12-of-12 slds-large-size--{!sectionWrap.fieldColumn }-of-12">
                                                                                                    <div class="border-div">
                                                                                                        <apex:outputPanel rendered="{!IF(!fieldWrap.field.Create_Blank_Space__c,true,false)}"><!--newlly added 15-05-2018-->
                                                                                                        <div class="labelCol">
                                                                                                            <span class="itemLabel">
                                                                                                                {!fieldWrap.field.FieldLabel__c}
                                                                                                            </span>
                                                                                                        </div>
                                                                                                        <div class="itemBody">
                                                                                                            
                                                                                                            <!----------------------------------- Other than OwnerId and REcordType Field  -------------------------------------->
                                                                                                            <apex:outputPanel rendered="{!IF(fieldWrap.field.ViewFieldApi__c != 'RecordTypeId' && fieldWrap.field.ViewFieldApi__c != 'OwnerId',true,false)}">
                                                                                                                <!----------------------------------------- Percent Field ------------------------> 
                                                                                                                <apex:outputPanel rendered="{!IF(fieldWrap.fieldType == 'PERCENT',true,false)}">
                                                                                                                    <div class="progress_value_top">
                                                                                                                        {!if(Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c]!=null,Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c],0)}%
                                                                                                                    </div>
                                                                                                                    <div class="progress_bar">
                                                                                                                        <div class="totalprogress" style="width: {!if(Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c]!=null && Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c]<1,1,if(Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c]!=null && Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c]>100,100,Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c]))}%;">
                                                                                                                            <div class="progress_value">
                                                                                                                                
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    
                                                                                                                </apex:outputPanel>  
                                                                                                                
                                                                                                                <!----------------------------------------- CURRENCY Field ------------------------> 
                                                                                                                <apex:outputPanel rendered="{!IF(fieldWrap.fieldType == 'CURRENCY',true,false)}">
                                                                                                                    <span class="photoContainer"><img src="{!URLFOR($Resource.icons, 'icons/icons/currency.png')}" class="smallSocialPhoto circular" alt="" title=""></img></span>
                                                                                                                <div class="estimated_Cost" title=""><span>$</span> <!--{!Contract_Vehicle__c[fieldWrap.field.FieldApiName__c]}-->
                                                                                                                    <apex:outputText value="{0, number, ###,###,###,##0.00}"><apex:param value="{!Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c]}" /> </apex:outputText></div>
                                                                                                                
                                                                                                                
                                                                                                            </apex:outputPanel>  
                                                                                                            
                                                                                                            <!----------------------------------------- DATE Field ------------------------> 
                                                                                                            <apex:outputPanel rendered="{!IF(fieldWrap.fieldType == 'DATE',true,false)}">
                                                                                                                <div class="date_wrap" >
                                                                                                                    <apex:outputPanel >
                                                                                                                        
                                                                                                                    </apex:outputPanel>
                                                                                                                    <div class="date_day">{!day(Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c])}</div>
                                                                                                                    <div class="date_month">{!IF(Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c] != null ,monthMap[month(Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c])],'')}<p>{!year(Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c])}</p></div>
                                                                                                                    
                                                                                                                </div>
                                                                                                            </apex:outputPanel>
                                                                                                            
                                                                                                            <!----------------------------------------- DATETIME FIELD ----------------------><!--newlly added 25-01-2018 for DATETIME-->
                                                                                                            <apex:outputPanel rendered="{!IF(fieldWrap.viewFieldType == 'DATETIME',true,false)}">
                                                                                                                <apex:outputPanel styleClass="date_wrap" rendered="{!Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c] != null}" layout="block">
                                                                                                                    <div class="date_day">{!day(Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c] + offset)}</div>
                                                                                                                    <div class="date_month">{!IF(Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c] != null ,monthMap[month(Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c] + offset)],'')}<p>{!year(Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c] + offset)}</p></div>
                                                                                                                    <apex:outputText value="{0,Date,hh:mm a}" styleClass="date_day"  style="position:relative;">
                                                                                                                        <apex:param value="{!Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c] + offset}" />
                                                                                                                    </apex:outputText>
                                                                                                                    
                                                                                                                </apex:outputPanel>
                                                                                                            </apex:outputPanel>
                                                                                                            
                                                                                                            
                                                                                                            <!----------------------------------------- MULTIPICKLIST Field ------------------------> 
                                                                                                            <apex:outputPanel rendered="{!IF(fieldWrap.fieldType == 'MULTIPICKLIST',true,false)}">
                                                                                                                <c:TM_MultiselectCompView selectedValuesName="{!Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c]}" ></c:TM_MultiselectCompView>
                                                                                                                
                                                                                                            </apex:outputPanel>
                                                                                                            
                                                                                                            <!--------------------------Field other Than Percent,CURRENCY,DATE,DATETIME,MULTIPICKLIST  ------------------------> <!--newlly added 25-01-2018 for DATETIME-->
                                                                                                            <apex:outputPanel rendered="{!IF(fieldWrap.fieldType != 'PERCENT' && fieldWrap.fieldType != 'CURRENCY' && fieldWrap.fieldType != 'DATE' && fieldWrap.viewFieldType != 'DATETIME' &&
                                                                                                                                        fieldWrap.fieldType != 'MULTIPICKLIST' ,true,false)}">
                                                                                                                <span id="{!fieldWrap.field.FieldApiName__c}outputField" Class="{!fieldWrap.field.FieldApiName__c}outputField"><!--new changes 11-04 styleClass-->
                                                                                                                    <apex:outputField value="{!Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c]}" id="lookupoutputfield"/>
                                                                                                                </span>
                                                                                                                
                                                                                                            </apex:outputPanel>
                                                                                                        </apex:outputPanel>
                                                                                                        
                                                                                                        <!-------------------------------------  RecordType id -------------------------------------------------------------->
                                                                                                        <apex:outputPanel rendered="{!IF(fieldWrap.field.ViewFieldApi__c == 'RecordTypeId',true,false)}">
                                                                                                            <span></span><apex:outputField value="{!Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c]}"/>
                                                                                                            
                                                                                                        </apex:outputPanel>
                                                                                                        
                                                                                                        <!---------------------------------------- Owner Id -------------------------------------------------------------------->
                                                                                                        <apex:outputPanel rendered="{!IF(fieldWrap.field.ViewFieldApi__c == 'OwnerId',true,false)}" >
                                                                                                            <apex:outputField value="{!Contract_Vehicle__c[fieldWrap.field.ViewFieldApi__c]}" id="op"/>
                                                                                                            
                                                                                                        </apex:outputPanel>
                                                                                                        
                                                                                                        
                                                                                                    </div>
                                                                                                    </apex:outputPanel>
                                                                                                </div>
                                                                                            </div>
                                                                                            <apex:variable var="fieldCounter" value="{!VALUE(fieldCounter)+1}"/>
                                                                                        </apex:repeat>
                                                                                    </div>
                                                                                </div>
                                                                            </apex:outputPanel>
                                                                            <apex:outputPanel rendered="{!sectionWrap.section.Is_Lightning_Component__c}">
                                                                                <div class="slds-col--padded slds-size--12-of-12">
                                                                                    <div id="{!sectionWrap.sectionId}"></div>
                                                                                    <script>
                                                                                    $Lightning.use("{!sectionWrap.section.AppApi__c}", function() {
                                                                                        $Lightning.createComponent("{!sectionWrap.section.Inline_Api_Name_Component_Api__c}",
                                                                                                                   {recordId : "{!Contract_Vehicle__c.Id}"},
                                                                                                                   "{!sectionWrap.sectionId}",
                                                                                                                   function(cmp) {
                                                                                                                   });
                                                                                    }); 
                                                                                    </script>
                                                                                    
                                                                                </div>
                                                                            </apex:outputPanel>
                                                                            <apex:outputPanel rendered="{!sectionWrap.section.Is_InlineVF_Page__c}">    
                                                                                
                                                                                 <apex:iframe src="{!sectionWrap.section.Inline_Api_Name_Component_Api__c}?id={!Contract_Vehicle__c.id}" scrolling="false" width="100%" height="{!sectionWrap.section.Height__c}"/>                                                   
                                                                            </apex:outputPanel>
                                                                        </div>
                                                                    </apex:repeat>
                                                                </apex:outputPanel>                                        
                                                            </div>
                                                        </div>
                                                    </div>
                                                </apex:repeat>
                                            </div>
                                        </apex:outputPanel>
                                        <!--------------------------  View Section End   -------------------------------->
                                    </apex:outputPanel>
                                </div>
                            </div>
                        </apex:outputPanel>
                    </div>
                    <script>
                    function openModel(){
                        $('.modelClass').removeClass('slds-fade-in-close');
                        $('.modelClass').addClass('slds-fade-in-open');
                        
                    }
                    
                    function closeModel(){
                        $('#file').attr('disabled',false);
                        $('#uploadLodinIng').hide();
                        $('#file').val('');
                        $('.modelClass').addClass('slds-fade-in-close');
                        $('.modelClass').removeClass('slds-fade-in-open');
                    }
                    </script>
                    
                    
                    <script>
                    var assetsLoc = '{!URLFOR($Resource.SLDS)}';
                    
                    //ALJS Initialization   
                    
                    $.aljsInit({
                        assetsLocation: assetsLoc, //SLDS Static Resource Path
                        scoped: true
                    });
                    function openOwnerModel(){
                        $('.ownerModelClass').removeClass('slds-fade-in-close');
                        $('.ownerModelClass').addClass('slds-fade-in-open');
                        
                    }
                    
                    function closeOwnerModel(){
                        $('#file').attr('disabled',false);
                        $('#uploadLodinIng').hide();
                        $('#file').val('');
                        $('.ownerModelClass').addClass('slds-fade-in-close');
                        $('.ownerModelClass').removeClass('slds-fade-in-open');
                        $('#attachmentModelBlur').load('https://fedtomdev-dev-ed.my.salesforce.com/'+{!recordId});
                        
                    }
                    
                    </script>
                </div>
                <script>
                function autoHeight(){
                    
                } 
                
                
                
                $("a[id^='lookup']").each(function() {
                    $(this).attr("target","_parent");
                    
                });
                
                
                function setHelpTextWidth(){
                    $("div[class='helptextpopup'] div[class='slds-popover__body']").each(function() {
                        var hepTextData = $(this).text();
                        if(hepTextData.length > 14){
                            var width = hepTextData.length * 6;
                            if(width > 400){
                                width = 400;
                            }
                            
                            $(this).css("width",width);
                        }
                        
                    });
                    
                    $("div[class='helptextpopupedit'] div[class='slds-popover__bodyedit']").each(function() {
                        var hepTextData = $(this).text();
                        console.log("hepTextData = "+hepTextData );
                        if(hepTextData.length > 14){
                            console.log("hepTextData.length = "+hepTextData.length);
                            var width = hepTextData.length * 6;
                            if(width > 400){
                                width = 400;
                            }
                            
                            $(this).css("width",width);
                        }
                        
                    });
                }
                setHelpTextWidth();
                $('iframe').load( function() {
                    
                    $('iframe').contents().find("head").append($("<style type='text/css'>  .mainDiv{height:auto!important;}  </style>"));
                    $( "iframe" ).contents().find( ".mainDiv" ).height(($('iframe').contents().find(".mainDiv").height()+50));
                    //alert($( "iframe" ).contents().find( ".mainDiv" ).parents("div").parents("div").parents("div").parents("div").parents("div").attr('id'));
                    //alert($('iframe').contents().find("body").height());
                    if($( "iframe" ).contents().find( ".mainDiv" ) != null && $( "iframe" ).contents().find( ".mainDiv" ) != undefined){
                    $('iframe').height($( "iframe" ).contents().find( ".mainDiv").height());
                        $( "iframe" ).contents().find('input[type="submit"]').css("display","none");
                        $('iframe').contents().find("head").append($("<style type='text/css'>      .mainDiv{overflow: hidden!important;}  </style>"));
                        //$('iframe').contents().find("head").append($("<style type='text/css'>    @media print {body, h1, h2, h3, ol, ul, div {width:100%!important; border: 0; margin:0!important; padding: 0;float:left!important; position: static!important; overflow:visible!important; } div{ page-break-inside:always!important;}table, tr, td, th {page-break-inside:always!important;}</style>"));
                        //alert(JSON.stringify($( "iframe" ).contents().find( "button" ))); 
                        $('iframe').contents().find("head").append($("<style type='text/css'> @media print{ div{page-break-inside:always!important;} table{page-break-after:always!important }  {body, h1, h2, h3, ol, ul, div {border: 0; margin:0!important; padding: 0; float:left!important; position: static!important; overflow:visible!important; width:100%!important}}</style>"));
                    }
                });
                
                </script>
            </apex:outputPanel>
            <apex:outputpanel styleclass="slds info slds-show" rendered="{!isValidLiecence != 'Yes'}">
                <img style="max-width: 48px;" class="headerImg" src="{!$Resource.infoImg+'/infoImg/info.png'}"/>{!isValidLiecence}
            </apex:outputpanel>
        </body>      
    </html>
</apex:outputPanel>
</apex:page>