<apex:page standardController="Subcontract__c" id="page" extensions="TM_SubContractClausesViewCtrl" sidebar="false" showHeader="false">
    <apex:stylesheet value="{!URLFOR($Resource.SLDS, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
    
    <apex:stylesheet value="{!URLFOR($Resource.Multiselect, 'multipicklist/sol.css')}" />    
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"/>
    <apex:includeScript value="{!URLFOR($Resource.Multiselect, 'multipicklist/sol.js')}" />
    
    <style>
        
        .newClass {
        display: inline-block;
        width: 70% !important;
        }
        
        .dateField {
        display: inline-block;
        width: 70% !important;
        }
        
        .dateField1 {
        display: inline-block;
        width: 87% !important;
        }
        .sol-current-selection {
        display: none;
        }
        .sol-selected-display-item, .sol-results-count {
        float: left;
        }
        
        .sol-checkbox, .sol-radio {
        top: -2px;
        }
        
        .multiSelectPicklistTable {
        display: none;
        }
        
        .sol-caret-container {
        top: 12px;
        }
        .sb {
        background: rgba(0, 0, 0, 0) url('{!URLFOR($Resource.MinusSign)}') no-repeat scroll 0 0 / cover;
        border: 0 none;
        height: 25px;
        width: 25px;
        }
        
        .sb:hover {
        background: rgba(0, 0, 0, 0) url('{!URLFOR($Resource.MinusSign)}') no-repeat scroll 0 0 / cover;
        }
        .sol-inner-container {
        margin-bottom: 5px;
        z-index: 0;
        }
        .disableElement {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.5;
        }
        
        /*akash changes*/
        #agnecyClauseId .sol-current-selection {
        display: inline-block;
        }
        
        #centerClauseLabel .sol-current-selection {
        display: inline-block;
        }
        
        #departmentClauseLabel .sol-current-selection {
        display: inline-block;
        }
        table.optTable {
        width: 100px;
        }
        .sectionwrap {
        padding: 20px;
        margin: 20px!important;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #555;
        }
        .radioClass{
        width:auto!important;
        }
        .radioClass td{
        padding: 5px 5px;
        }
        .radioClass input[type="radio"]{ position:relative; top:2px}
        .buttonWrap{
        display: inline-block;
        width: 100%;
        padding: 20px;
        padding-bottom: 0;
        text-align:right;
        }
        .buttonWrap_bottom{
        display: inline-block;
        width: 100%;
        padding-right: 20px;
        padding-bottom: 0;
        text-align:right;
        }
        .slds .slds-table th, .slds .slds-table td {
        white-space: inherit;
        }
        
        .sol-checkbox, .sol-radio {
        top: 2px;
        }
        /*akash Changes end*/
        
        .mainDiv{
        height: 730px;
        overflow-y: scroll;
        }
        .sol-container.sol-active .sol-selection-container {
        position: absolute;
        top: 29px!important;
        left: 0!important;
        }
    </style>
    
    <script>
    function editMode(){
        $('#editPannel').show();
        $('#viewPannel').hide();
    }
    
    function viewMode(){
        $('#editPannel').hide();
        $('#viewPannel').show();
    }
    </script>
    <apex:outputPanel rendered="{!isValidLiecence == 'Yes'}">
        <div class="mainDiv">
            <apex:form >
                <apex:actionFunction name="agencyClauseOptionLoad" action="{!agencyClauseOptionLoad}" status="myStatus2" oncomplete="disableForNo('agnecyClauseId','agencyoption')" reRender="agencyOutputPannel">
                    <apex:param name="agency" assignTo="{!agency}" value=""/>
                    <apex:param name="agencyValueHold" assignTo="{!agencyValueHold}" value=""/>
                </apex:actionFunction>
                
                <apex:actionFunction name="centerClauseOptionLoad" action="{!centerClauseOptionLoad}" oncomplete="disableForNo('centerClauseLabel','centeroption')" status="myStatus1" reRender="centerOutputPannel">
                    <apex:param name="center" assignTo="{!center}" value=""/>
                    <apex:param name="centerValueHold" assignTo="{!centerValueHold}" value=""/>
                </apex:actionFunction>
                
                <apex:actionFunction name="departmentClauseOptionLoad" action="{!departmentClauseOptionLoad}" oncomplete="disableForNo('departmentClauseLabel','departmentoption')" status="myStatus" reRender="departmentOutputPannel">
                    <apex:param name="department" assignTo="{!department}" value=""/>
                    <apex:param name="departmentValueHold" assignTo="{!departmentValueHold}" value=""/>
                </apex:actionFunction>
            </apex:form>
            <div id="viewPannel" class="slds">
                <apex:form >
                    <div class="buttonWrap">
                        <apex:commandButton value="Edit" onclick="editMode(); return false;" styleClass="slds-button slds-button--brand"/>
                    </div>
                    <div class="sectionwrap">
                        <div >
                            <div >
                                <div>
                                    <label style="color: #0070d2; font-weight: bold;">{!$ObjectType.SubContract__c.Fields.Are_there_any_FAR_clauses__c.Label}</label>
                                    <div>
                                        <!--<apex:outputField value="{!Subcontract__c.Are_there_any_FAR_clauses__c}"/>-->
                                        <apex:selectRadio value="{!Subcontract__c.Are_there_any_FAR_clauses__c}" styleClass="radioClass" disabled="true">
                                            <apex:selectOption itemValue="Yes" itemLabel="Yes" />
                                            <apex:selectOption itemValue="No" itemLabel="No" />
                                        </apex:selectRadio>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-scrollable--x">
                            
                            <table class="slds-table slds-table--bordered">
                                <thead>
                                    <tr class="slds-text-heading--label">
                                        
                                        
                                        <th scope="col">
                                            <span class="slds-truncate"><b>FAR Clauses</b></span>
                                        </th>
                                        <th scope="col">
                                            <span class="slds-truncate"><b>Clause Type</b></span>
                                        </th>
                                        
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <apex:repeat value="{!farClauseDispList}" var="farClause">
                                        <tr class="slds-hint-parent">
                                            <td>{!farClause.Clauses__r.Clause_Description__c}</td>
                                            <td>{!farClause.Clauses__r.Clause_Type__c}</td>
                                        </tr>
                                    </apex:repeat>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                    
                    <div class="sectionwrap">
                        <div>
                            <div>
                                <div>
                                    <label style="color: #0070d2; font-weight: bold;">{!$ObjectType.Subcontract__c.Fields.Are_there_any_Agency_Supplement_clauses__c.Label}</label>
                                    <div class="">
                                        <!-- <apex:outputField value="{!contract.Are_there_any_Agency_Supplement_clauses__c}"/>-->
                                        <apex:selectRadio value="{!Subcontract__c.Are_there_any_Agency_Supplement_clauses__c}" styleClass="radioClass" disabled="true">
                                            <apex:selectOption itemValue="Yes" itemLabel="Yes" />
                                            <apex:selectOption itemValue="No" itemLabel="No" />
                                        </apex:selectRadio>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="slds-scrollable--x">
                            <table class="slds-table slds-table--bordered">
                                <thead>
                                    <tr class="slds-text-heading--label">
                                        <th scope="col">
                                            <span class="slds-truncate"><b>Agency Clauses</b></span>
                                        </th>
                                        <th scope="col">
                                            <span class="slds-truncate"><b>Agency</b></span>
                                        </th>
                                        <th scope="col">
                                            <span class="slds-truncate"><b>Clause Type</b></span>
                                        </th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <apex:repeat value="{!agencyClauseDispList}" var="agencyClause">
                                        <tr class="slds-hint-parent">
                                            <td>{!agencyClause.Clauses__r.Clause_Description__c}</td>
                                            <td>{!agencyClause.Clause_Agency__c}</td>
                                            <td>{!agencyClause.Clauses__r.Clause_Type__c}</td>
                                        </tr>
                                    </apex:repeat>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="sectionwrap">
                        <div>
                            <div>
                                <div>
                                    <label style="color: #0070d2; font-weight: bold;">{!$ObjectType.Subcontract__c.Fields.Are_there_any_Center_Clauses__c.Label}</label>
                                    <div class="">
                                        <!-- <apex:outputField value="{!Subcontract__c.Are_there_any_Center_Clauses__c}"/>-->
                                        <apex:selectRadio value="{!Subcontract__c.Are_there_any_Center_Clauses__c}" styleClass="radioClass" disabled="true">
                                            <apex:selectOption itemValue="Yes" itemLabel="Yes" />
                                            <apex:selectOption itemValue="No" itemLabel="No" />
                                        </apex:selectRadio>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="slds-scrollable--x">
                            
                            <table class="slds-table slds-table--bordered">
                                <thead>
                                    <tr class="slds-text-heading--label">
                                        
                                        
                                        <th scope="col">
                                            <span class="slds-truncate"><b>Center Clauses</b></span>
                                        </th>
                                        <th scope="col">
                                            <span class="slds-truncate"><b>Center</b></span>
                                        </th>
                                        <th scope="col">
                                            <span class="slds-truncate"><b>Clause Type</b></span>
                                        </th>
                                        
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <apex:repeat value="{!centerClauseDispList }" var="centerClause">
                                        <tr class="slds-hint-parent">
                                            <td>{!centerClause.Clauses__r.Clause_Description__c}</td>
                                            <td>{!centerClause.Clause_Center__c}</td>
                                            <td>{!centerClause.Clauses__r.Clause_Type__c}</td>
                                        </tr>
                                    </apex:repeat>                 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="sectionwrap">
                        <div>  
                            <div>
                                <div>
                                    <label style="color: #0070d2; font-weight: bold;">{!$ObjectType.Subcontract__c.Fields.Are_there_any_Department_Clauses__c.Label}</label>
                                    <div class="">
                                        <!-- <apex:outputField value="{!Subcontract__c.Are_there_any_Department_Clauses__c}"/>-->
                                        <apex:selectRadio value="{!Subcontract__c.Are_there_any_Department_Clauses__c}" styleClass="radioClass" disabled="true">
                                            <apex:selectOption itemValue="Yes" itemLabel="Yes" />
                                            <apex:selectOption itemValue="No" itemLabel="No" />
                                        </apex:selectRadio>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="slds-scrollable--x">
                            
                            <table class="slds-table slds-table--bordered">
                                <thead>
                                    <tr class="slds-text-heading--label">
                                        
                                        
                                        <th scope="col">
                                            <span class="slds-truncate"><b>Department Clauses</b></span>
                                        </th>
                                        <th scope="col">
                                            <span class="slds-truncate"><b>Dept</b></span>
                                        </th>
                                        <th scope="col">
                                            <span class="slds-truncate"><b>Clause Type</b></span>
                                        </th>
                                        
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <!-- <tr class="slds-hint-parent">
<td>AFFARS 5352.209-9000 Organizational Conflict of Interest (Alt VI)</td>
<td>Air Force</td>
<td>Department</td>

</tr> -->
                                    
                                    <apex:repeat value="{!departmentClauseDispList }" var="departmentClause">
                                        <tr class="slds-hint-parent">
                                            <td>{!departmentClause.Clauses__r.Clause_Description__c}</td>
                                            <td>{!departmentClause.Clause_Department__c}</td>
                                            <td>{!departmentClause.Clauses__r.Clause_Type__c}</td>
                                        </tr>
                                    </apex:repeat> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="sectionwrap">
                        <div>  
                            <div>
                                <div>
                                    <label style="color: #0070d2; font-weight: bold;">{!$ObjectType.Subcontract__c.Fields.Are_there_any_Contract_specific_clauses__c.Label}</label>
                                    <div class="">
                                        
                                        <apex:selectRadio styleClass="optTable radioClass" value="{!Subcontract__c.Are_there_any_Contract_specific_clauses__c}" disabled="true">
                                            <apex:selectOption itemValue="Yes" itemLabel="Yes" />
                                            <apex:selectOption itemValue="No" itemLabel="No" />
                                        </apex:selectRadio>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="textareafield">
                            <div class="slds-form-element">
                                <label class="slds-form-element__label" for="textarea-id-01">{!$ObjectType.Subcontract__c.Fields.Contract_specific_H_clauses__c.Label}</label>
                                <div class="slds-form-element__control">
                                    <!--<textarea id="textarea-id-01" class="slds-textarea" placeholder="Placeholder Text"></textarea>-->
                                    <apex:outputField value="{!Subcontract__c.Contract_specific_H_clauses__c}" styleClass="slds-textarea" />
                                </div>
                            </div>
                            <hr />
                            <div class="slds-form-element">
                                <label class="slds-form-element__label" for="textarea-id-01">{!$ObjectType.Subcontract__c.Fields.Synopsis_of_specific_H_clauses__c.Label}</label>
                                <div class="slds-form-element__control">
                                    <!--<textarea id="textarea-id-01" class="slds-textarea" placeholder="Placeholder Text"></textarea>-->
                                    <apex:outputField value="{!Subcontract__c.Synopsis_of_specific_H_clauses__c}" styleClass="slds-textarea" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buttonWrap_bottom">
                        <apex:commandButton value="Edit" onclick="editMode(); return false;" styleClass="slds-button slds-button--brand"/>
                    </div>
                </apex:form>
            </div>
            <div class="slds"  id="editPannel" style="display:none;">
                <apex:form >
                    <div class="buttonWrap">
                        <apex:commandButton value="Cancel" action="{!cancelClauses}" styleClass="slds-button slds-button--brand" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <apex:commandButton value="Save Clause" action="{!saveClauses}" styleClass="slds-button slds-button--brand saveclausebtn" />
                    </div>
                    
                    <div class="sectionwrap">
                        <div>
                            <div>
                                <div>
                                    <label style="color: #0070d2; font-weight: bold;">{!$ObjectType.Subcontract__c.Fields.Are_there_any_FAR_clauses__c.Label}</label>
                                    <div class="">
                                        
                                        <apex:selectRadio styleClass="optTable radioClass" value="{!Subcontract__c.Are_there_any_FAR_clauses__c}" onChange="isClauseDisable('farClause',this.value,'Yes')">
                                            <apex:selectOption itemValue="Yes" itemLabel="Yes" />
                                            <apex:selectOption itemValue="No" itemLabel="No" />
                                        </apex:selectRadio>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>   
                        
                        <label> Clauses</label>
                        <span id="farClause">            
                            <apex:inputHidden value="{!farSelected}" id="farSelected" />
                            <select id="sel1" style="width:80%;position: relative;" multiple="true" name="farSelected">
                                
                            </select>
                        </span>
                        
                        <span class="slds-scrollable--x">
                            <table class="slds-table slds-table--bordered">
                                <thead>
                                    <tr class="slds-text-heading--label">
                                        <th scope="col">
                                            <span class="slds-truncate"><b>Name</b></span>
                                        </th>
                                        
                                        <th scope="col">
                                            <span class="slds-truncate"><b>Clause Type</b></span>
                                        </th>
                                        <th scope="col">
                                            <span class="slds-truncate"><b>Action</b></span>
                                        </th>
                                    </tr>
                                </thead>
                                
                                <tbody id="clausesContainer">
                                    
                                </tbody>
                            </table>
                        </span>
                    </div>
                    
                    
                    
                    <div class="sectionwrap">
                        <div>
                            <div>
                                <div>
                                    <label style="color: #0070d2; font-weight: bold;">{!$ObjectType.SubContract__c.Fields.Are_there_any_Agency_Supplement_clauses__c.Label}</label>
                                    <div>
                                        
                                        <apex:selectRadio styleClass="optTable radioClass" id="agencyoption" value="{!Subcontract__c.Are_there_any_Agency_Supplement_clauses__c}" onChange="isClauseDisable('agnecyClauseId',this.value,'Yes')">
                                            <apex:selectOption itemValue="Yes" itemLabel="Yes" />
                                            <apex:selectOption itemValue="No" itemLabel="No" />
                                        </apex:selectRadio>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label>Agency Clauses</label>
                        <span id="agnecyClauseId">
                            <select id="tomaAgency" multiple="true" name="toma" style="width:80%;position: relative;">
                                
                            </select>
                        </span>
                        <apex:outputPanel id="agencyOutputPannel">
                            
                            
                            <apex:inputHidden value="{!agencySelected}" id="agencySelected" />
                            <select id="agencyClausesPickList" style="width:80%;position: relative;" multiple="true" name="agencySelected">
                                
                            </select>
                            <apex:actionStatus style="display:inline-block; position: absolute;" id="myStatus2">
                                <apex:facet name="start">
                                    <img src="/img/loading24.gif" style="-webkit-user-select: none; width: 33px;" />
                                </apex:facet>
                            </apex:actionStatus>
                            
                            <table class="slds-table slds-table--bordered">
                                <thead>
                                    <tr class="slds-text-heading--label">
                                        <th scope="col">
                                            <span class="slds-truncate"><b>Name</b></span>
                                        </th>
                                        <th scope="col">
                                            <span class="slds-truncate"><b>Agency</b></span>
                                        </th>
                                        <th scope="col">
                                            <span class="slds-truncate"><b>Clause Type</b></span>
                                        </th>
                                        <th scope="col">
                                            <span class="slds-truncate"><b>Action</b></span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="agencyClausesContainer">
                                    
                                </tbody>
                            </table>
                            
                            <script>                
                            $(function(){
                                $("#agencyClausesPickList").searchableOptionList({
                                    data:[{!agencyClauseOption}],
                                    showSelectAll: false,
                                    maxHeight:300,
                                    events: {            
                                        onChange: function($changeItem,o) {
                                            
                                            var $selectedVal = $("[id$='agencySelected']");
                                            if($(o).prop('checked')){
                                                $selectedVal.val((''+$selectedVal.val()).replace(o[0].value+',',''));
                                                $selectedVal.val($selectedVal.val()+o[0].value+','); 
                                                
                                                addRow(o,'agencyClausesContainer','agencyChold_', 'Agency', '', 'checked','');
                                            }else{                                
                                                delRow(o[0].value,'agencyChold_','agencySelected');
                                            }
                                        },
                                        onInitialized:function(sol, items){
                                            selecteClauses('{!agencyValueHold}','agencySelected','agencyClausesPickList','agencyClausesContainer','agencyChold_', 'Agency');
                                            var isDisable = false;
                                            $('[id$="agencyoption"]').find('input:radio').each(function(){
                                                if($(this).prop('checked')){
                                                    if($(this).val() == 'No'){
                                                        isDisable = true;
                                                    }
                                                }
                                            });
                                            
                                            if(isDisable){
                                                var elem = $('[id$="agencyOutputPannel"]');
                                                $(elem).addClass('disableElement');
                                                $(elem).find('.sol-container').addClass('disableElement');
                                            }
                                        }
                                    },
                                });
                                
                            });
                            </script>
                        </apex:outputPanel>
                    </div>  
                    
                    <div class="sectionwrap">
                        <div>
                            <div>
                                <div>
                                    <label style="color: #0070d2; font-weight: bold;">{!$ObjectType.Subcontract__c.Fields.Are_there_any_Center_Clauses__c.Label}</label>
                                    <div class="">
                                        
                                        <apex:selectRadio styleClass="optTable radioClass" id="centeroption" value="{!Subcontract__c.Are_there_any_Center_Clauses__c}" onChange="isClauseDisable('centerClauseLabel',this.value,'Yes')" >
                                            <apex:selectOption itemValue="Yes" itemLabel="Yes" />
                                            <apex:selectOption itemValue="No" itemLabel="No" />
                                        </apex:selectRadio>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label>Center Clauses</label>
                        <span id="centerClauseLabel">
                            <select id="tomaCenter" multiple="true" name="tomaCenter" style="width:80%;position: relative;">
                                
                            </select>
                        </span>
                        <apex:outputPanel id="centerOutputPannel">
                            
                            <apex:inputHidden value="{!centerSelected}" id="centerSelected" />
                            <select id="centerClausesPickList" style="width:80%;position: relative;" multiple="true" name="centerSelected">
                                
                            </select>
                            <apex:actionStatus style="display:inline-block;    position: absolute;" id="myStatus1">
                                <apex:facet name="start">
                                    <img src="/img/loading24.gif" style="-webkit-user-select: none; width: 33px;" />
                                </apex:facet>
                            </apex:actionStatus>
                            
                            <table class="slds-table slds-table--bordered">
                                <thead>
                                    <tr class="slds-text-heading--label">
                                        <th>Name</th>
                                        <th>Center</th>
                                        <th>Clause Type</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="centerClausesContainer">
                                    
                                </tbody>
                            </table>
                            
                            <script>
                            $(function(){
                                $("#centerClausesPickList").searchableOptionList({
                                    data:[{!centerClauseOption}],
                                    showSelectAll: false,
                                    maxHeight:300,
                                    events: {            
                                        onChange: function($changeItem,o) {
                                            var $selectedVal = $("[id$='centerSelected']");
                                            if($(o).prop('checked')){
                                                $selectedVal.val((''+$selectedVal.val()).replace(o[0].value+',',''));                               
                                                $selectedVal.val($selectedVal.val()+o[0].value+','); 
                                                
                                                addRow(o,'centerClausesContainer','centerChold_', 'Center', '', 'checked','');
                                            }else{
                                                delRow(o[0].value,'centerChold_','centerSelected');
                                            }
                                        },
                                        onInitialized:function(sol, items){
                                            selecteClauses('{!centerValueHold}','centerSelected','centerClausesPickList','centerClausesContainer','centerChold_', 'Center');
                                            var isDisable = false;
                                            $('[id$="centeroption"]').find('input:radio').each(function(){
                                                if($(this).prop('checked')){
                                                    if($(this).val() == 'No'){
                                                        isDisable = true;
                                                    }
                                                }
                                            });
                                            
                                            if(isDisable){
                                                var elem = $('[id$="centerOutputPannel"]');
                                                $(elem).addClass('disableElement');
                                                $(elem).find('.sol-container').addClass('disableElement');
                                            }
                                        }
                                    },
                                });
                            });
                            </script>
                        </apex:outputPanel>
                    </div> 
                    <div class="sectionwrap">
                        <div>  
                            <div>
                                <div>
                                    <label style="color: #0070d2; font-weight: bold;">{!$ObjectType.Subcontract__c.Fields.Are_there_any_Department_Clauses__c.Label}</label>
                                    <div class="">
                                        
                                        <apex:selectRadio styleClass="optTable radioClass" id="departmentoption" value="{!Subcontract__c.Are_there_any_Department_Clauses__c}" onChange="isClauseDisable('departmentClauseLabel',this.value,'Yes')" >
                                            <apex:selectOption itemValue="Yes" itemLabel="Yes" />
                                            <apex:selectOption itemValue="No" itemLabel="No" />
                                        </apex:selectRadio>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label>Department Clauses</label>
                        <span id="departmentClauseLabel">
                            <select id="tomaDepartment" multiple="true" name="tomaDepartment" style="width:80%;position: relative;">
                                
                            </select>
                        </span>
                        <apex:outputPanel id="departmentOutputPannel">
                            <apex:inputHidden value="{!departmentSelected}" id="departmentSelected" />
                            <select id="departmentClausesPickList" style="width:80%;position: relative;" multiple="true" name="departmentSelected">
                                
                            </select>
                            <apex:actionStatus style="display:inline-block;    position: absolute;" id="myStatus">
                                <apex:facet name="start">
                                    <img src="/img/loading24.gif" style="-webkit-user-select: none; width: 33px;" />
                                </apex:facet>
                            </apex:actionStatus>
                            
                            <table class="slds-table slds-table--bordered">
                                <thead>
                                    <tr class="slds-text-heading--label">
                                        <th>Name</th>
                                        <th>Department</th>
                                        <th>Clause Type</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="departmentClausesContainer">
                                    
                                </tbody>
                            </table>
                            
                            <script>
                            $(function(){
                                $("#departmentClausesPickList").searchableOptionList({
                                    data:[{!departmentClauseSOption}],
                                    showSelectAll: false,
                                    maxHeight:300,
                                    events: {            
                                        onChange: function($changeItem,o) {
                                            var $selectedVal = $("[id$='departmentSelected']");
                                            if($(o).prop('checked')){                                    
                                                $selectedVal.val((''+$selectedVal.val()).replace(o[0].value+',',''));                               
                                                $selectedVal.val($selectedVal.val()+o[0].value+',');
                                                
                                                addRow(o,'departmentClausesContainer','departmentChold_', 'Depatrment', '', 'checked','');
                                            }else{
                                                delRow(o[0].value,'departmentChold_','departmentSelected');
                                            }
                                        },
                                        onInitialized:function(sol, items){
                                            selecteClauses('{!departmentValueHold}','departmentSelected','departmentClausesPickList','departmentClausesContainer','departmentChold_', 'Depatrment');
                                            var isDisable = false;
                                            $('[id$="departmentoption"]').find('input:radio').each(function(){
                                                if($(this).prop('checked')){
                                                    if($(this).val() == 'No'){
                                                        isDisable = true;
                                                    }
                                                }
                                            });
                                            
                                            if(isDisable){
                                                var elem = $('[id$="departmentOutputPannel"]');
                                                $(elem).addClass('disableElement');
                                                $(elem).find('.sol-container').addClass('disableElement');
                                            }
                                        }
                                    },
                                });
                            });
                            </script>
                        </apex:outputPanel>
                    </div>
                    
                    <div class="sectionwrap">
                        <div>  
                            <div>
                                <div>
                                    <label style="color: #0070d2; font-weight: bold;">{!$ObjectType.Subcontract__c.Fields.Are_there_any_Contract_specific_clauses__c.Label}</label>
                                    <div class="">
                                        
                                        <apex:selectRadio styleClass="optTable radioClass" id="contractspecificclauses" value="{!Subcontract__c.Are_there_any_Contract_specific_clauses__c}" onChange="isTextAreaDisable(this.value,'Yes')" >
                                            <apex:selectOption itemValue="Yes" itemLabel="Yes" />
                                            <apex:selectOption itemValue="No" itemLabel="No" />
                                        </apex:selectRadio>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="textareafield">
                            <div class="slds-form-element">
                                <label class="slds-form-element__label" for="textarea-id-01">{!$ObjectType.Subcontract__c.Fields.Contract_specific_H_clauses__c.Label}</label>
                                <div class="slds-form-element__control">
                                    <!--<textarea id="textarea-id-01" class="slds-textarea" placeholder="Placeholder Text"></textarea>-->
                                    <apex:inputField value="{!Subcontract__c.Contract_specific_H_clauses__c}" styleClass="slds-textarea" />
                                </div>
                            </div>
                            
                            <div class="slds-form-element">
                                <label class="slds-form-element__label" for="textarea-id-01">{!$ObjectType.Subcontract__c.Fields.Synopsis_of_specific_H_clauses__c.Label}</label>
                                <div class="slds-form-element__control">
                                    <!--<textarea id="textarea-id-01" class="slds-textarea" placeholder="Placeholder Text"></textarea>-->
                                    <apex:inputField value="{!Subcontract__c.Synopsis_of_specific_H_clauses__c}" styleClass="slds-textarea" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buttonWrap_bottom">
                        <apex:commandButton value="Cancel" action="{!cancelClauses}" styleClass="slds-button slds-button--brand" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <apex:commandButton value="Save Clause" action="{!saveClauses}" styleClass="slds-button slds-button--brand saveclausebtn" />
                    </div>
                </apex:form>
            </div>
        </div>
        <script>
        var clauseObjectJSON = {!clauseDataJSON};
        
        //Clause Initialise
        $(function() {
            $("#sel1").searchableOptionList({
                data:[{!farClauseOption}],
                showSelectAll: false,
                maxHeight:300,
                events: {            
                    onChange: function($changeItem,o) {
                        var $selectedVal = $("[id$='farSelected']");
                        
                        if($(o).prop('checked')){
                            $selectedVal.val((''+$selectedVal.val()).replace(o[0].value+',',''));                               
                            $selectedVal.val($selectedVal.val()+o[0].value+',');                              
                            addRow(o,'clausesContainer','chold_','Far','','checked','farSelected');                              
                        }else{
                            //$selectedVal.val((''+$selectedVal.val()).replace(o[0].value+',',''));
                            delRow(o[0].value,'chold_','farSelected');
                        }
                    },
                    onInitialized:function(sol, items){
                        var value = $("[id$='farSelected']").val();
                        selecteClauses(value,'farSelected','sel1','clausesContainer','chold_','Far');
                        var areTheirFarClause = '{!Subcontract__c.Are_there_any_FAR_clauses__c}';
                        if(areTheirFarClause != ''){
                            isClauseDisable('farClause', areTheirFarClause, 'Yes');
                        }else{
                            isClauseDisable('farClause', 'blank', 'Yes');
                        }
                    }
                },
            });
            
            
            //Caluse Anegcy
            var agencyvalidate = false;
            var centerValidate = false;
            var deprtmentValidate = false;
            
            //
            var agencyChange = true;
            var centerChange = true;
            var departmentChange = true;
            $("#tomaAgency").searchableOptionList({
                data:[{!agencySelectOption}],
                showSelectAll: false,
                maxHeight:300,
                events: {
                    onChange: function(changeItem,o) {
                        agencyvalidate = true;
                        if($(o).prop('checked')){
                            clauseDeleteCoinfirm('agnecyClauseId', 'Are you sure you wish to remove '+o[0].value +' and all it\'s associated clauses?');
                        }
                        if(agencyChange){
                            setTimeout(function() {solCloseEvent(changeItem)},2000);
                        }
                    },
                    onOpen:function(sol){
                        agencyChange = false;
                    },
                    onClose:function(sol){
                        if(agencyvalidate){
                            var typeString = '';
                            var selectedIds = $("[id$='agencySelected']").val();
                            $.each(sol.getSelection(), function(i,obj){
                                typeString += obj.value+',';
                            });
                            
                            typeString = typeString.replace(/,\s*$/, "");
                            
                            agencyClauseOptionLoad(typeString,selectedIds);
                            agencyvalidate = false;                            
                        }
                        agencyChange = true;
                    },
                    onInitialized:function(sol, items){
                        clauseDeleteCoinfirmOnLoad('agnecyClauseId', 'Are you sure you wish to remove ~yoReplaceMe~ and all it\'s associated clauses?');
                        var areTheirAgencyClause = '{!Subcontract__c.Are_there_any_Agency_Supplement_clauses__c}';
                        
                        if($("[id$='agencySelected']").val()!='' && areTheirAgencyClause=='Yes'){
                            agencyvalidate = true;
                            solCloseEvent(sol);
                        }else if(areTheirAgencyClause =='No' || areTheirAgencyClause ==''){
                            isClauseDisable('agnecyClauseId', 'blank', 'Yes')
                        }
                    }
                }
            });
            
            
            
            $("#tomaCenter").searchableOptionList({
                data:[{!centerSelectOption}],
                showSelectAll: false,
                maxHeight:300,
                events: {            
                    onChange: function(changeItem,o) {
                        centerValidate = true;
                        if($(o).prop('checked')){
                            clauseDeleteCoinfirm('centerClauseLabel', 'Are you sure you wish to remove '+o[0].value +' and all it\'s associated clauses?');
                        }
                        if(centerChange){
                            setTimeout(function() {solCloseEvent(changeItem)},2000);
                        }
                    },
                    onOpen:function(sol){
                        centerChange = false;
                    },
                    onClose:function(sol){
                        if(centerValidate){
                            var typeString = '';
                            var selectedIds = $("[id$='centerSelected']").val();
                            $.each(sol.getSelection(), function(i,obj){
                                typeString += obj.value+',';
                            });
                            
                            typeString = typeString.replace(/,\s*$/, "");
                            
                            
                            centerClauseOptionLoad(typeString,selectedIds);
                            centerValidate = false;
                        }
                        centerChange=true;
                    },
                    onInitialized:function(sol, items){
                        clauseDeleteCoinfirmOnLoad('centerClauseLabel', 'Are you sure you wish to remove ~yoReplaceMe~ and all it\'s associated clauses?');
                        var areTheirCenterClause = '{!Subcontract__c.Are_there_any_Center_Clauses__c}';
                        //alert('Is Yes: '+areTheirCenterClause);
                        //alert('Is val: '+$("[id$='centerSelected']").val());
                        if($("[id$='centerSelected']").val()!='' && areTheirCenterClause=='Yes'){
                            centerValidate = true;
                            solCloseEvent(sol);
                        }else if(areTheirCenterClause =='No' || areTheirCenterClause ==''){
                            isClauseDisable('centerClauseLabel', 'blank', 'Yes');
                        }
                    }
                }
            });
            
            $("#tomaDepartment").searchableOptionList({
                data:[{!departmentSelectSOption}],
                showSelectAll: false,
                maxHeight:300,
                events: {            
                    onChange: function(changeItem,o) {
                        deprtmentValidate = true;
                        if($(o).prop('checked')){
                            
                            clauseDeleteCoinfirm('departmentClauseLabel', 'Are you sure you wish to remove '+o[0].value +' and all it\'s associated clauses?');
                        }
                        if(departmentChange){
                            setTimeout(function() {solCloseEvent(changeItem)},2000);
                        }
                    },
                    onOpen:function(sol){
                        departmentChange = false;
                    },
                    onClose:function(sol){
                        if(deprtmentValidate){
                            var typeString = '';
                            var selectedIds = $("[id$='departmentSelected']").val();
                            $.each(sol.getSelection(), function(i,obj){
                                typeString += obj.value+',';
                            });
                            
                            typeString = typeString.replace(/,\s*$/, "");
                            
                            
                            departmentClauseOptionLoad(typeString,selectedIds);
                            deprtmentValidate = false;
                        }
                        departmentChange = true;
                    },
                    onInitialized:function(sol, items){
                        clauseDeleteCoinfirmOnLoad('departmentClauseLabel', 'Are you sure you wish to remove ~yoReplaceMe~ and all it\'s associated clauses?');
                        var areTheirDepartClause = '{!Subcontract__c.Are_there_any_Department_Clauses__c}';
                        
                        if($("[id$='departmentSelected']").val()!='' && areTheirDepartClause =='Yes'){
                            deprtmentValidate = true;
                            solCloseEvent(sol);
                        }else if(areTheirDepartClause =='No' || areTheirDepartClause ==''){
                            isClauseDisable('departmentClauseLabel', 'blank', 'Yes');
                        }
                    }
                }
            });
            
        });
        
        function clauseDeleteCoinfirm(clauseDivId, clauseTypeMsg){
            var crossClick = $('#'+clauseDivId+' .sol-selected-display-item').last().find('.sol-quick-delete').first();
            $(crossClick).hide();
            var pretxt = $('<span class="sol-quick-delete">X</span>').click(function () {
                if(confirm(clauseTypeMsg)){
                    $(crossClick).trigger('click');
                }                            
            });
            $('#'+clauseDivId+' .sol-selected-display-item').last().prepend($(pretxt));
        }
        
        function clauseDeleteCoinfirmOnLoad(clauseDivId, clauseTypeMsg){
            //console.log($('#'+clauseDivId+' .sol-selected-display-item'));
            $('#'+clauseDivId+' .sol-selected-display-item').each(function(index){
                var crossClick = $(this).find('.sol-quick-delete').first();
                var eMassege = $(this).find('.sol-selected-display-item-text').first().text();
                var clauseTypeMsgTemp = clauseTypeMsg.replace('~yoReplaceMe~',eMassege);
                //console.log(clauseTypeMsg);
                $(crossClick).hide();
                var pretxt = $('<span class="sol-quick-delete">X</span>').click(function () {
                    if(confirm(clauseTypeMsgTemp)){
                        $(crossClick).trigger('click');
                    }                            
                });
                $(this).prepend($(pretxt));
            });
        }
        
        function selecteClauses(toSelectVal,inputFieldId, optionFieldId, id, subid, clauseType){
            var values =  toSelectVal;//$("[id$='"+inputFieldId+"']").val();
            var c = $("#"+optionFieldId).prev().find( ":checkbox" );
            $.each(values.split(","), function(i,t){
                if(t!=''){
                    //var isClick = true;
                    $.each(c, function(i,e){
                        if(e.value == t){                        
                            $(e).trigger('click');
                            //isClick = false;
                            return false;
                        }
                    });
                    /*if(isClick){
                        addRow('',id,subid,  clauseType, t, 'nochecked',inputFieldId);
                    }*/
                }
            });
            isTextAreaDisable('{!Subcontract__c.Are_there_any_Contract_specific_clauses__c}' , 'Yes');
        }
        
        function solCloseEvent(sol){
            sol.open();
            sol.close();
        }
        
        function addRow(obj, id, subid, clauseType, recordId, actionType, fieldId){
            var selectedObj;
            var clauseTD = '';
            //alert(recordId);
            if(actionType == 'checked'){
                selectedObj = JSON.parse(clauseObjectJSON[obj[0].value]);
                $b = $('<button class="sb"></button>').click(function () {
                    if(confirm('Are you sure.')){
                        $(obj).prop('checked', false).trigger('change');
                    }
                    return false;
                });
            }else{
                selectedObj = JSON.parse(clauseObjectJSON[recordId]);
                $b = $('<button class="sb"></button>').click(function () {
                    if(confirm('Are you sure.')){
                        delRow(recordId,subid,fieldId);
                    }
                    return false;
                });
            }
            $td = $('<td></td>').append($b);
            if(clauseType != 'Far'){
                clauseTD = '<td>'+selectedObj[clauseType]+'</td>'
            }
            $tr = $('<tr id="'+subid+''+selectedObj.Index+'" class="slds-text-heading--label"><td>'+selectedObj.Name+'</td>'+clauseTD+'<td>'+selectedObj.ClauseType+'</td>').append($td);
            $p = $('#'+id+':last-child').append($tr);
        }
        
        function delRow(obj,subId,fieldId){
            var selectedObj = JSON.parse(clauseObjectJSON[obj]);
            var $selectedVal = $("[id$='"+fieldId+"']");
            $selectedVal.val((''+$selectedVal.val()).replace(obj+',',''));
            $('#'+subId+''+selectedObj.Index).remove();
        }
        
        function disableForNo(fieldId,radioId){
            var radioVal = $('[id$="'+radioId+'"]').find('input[type=radio]:checked').val();
            if(radioVal !='Yes')
                isClauseDisable(fieldId, radioVal , 'Yes');
            
            $('.saveclausebtn').removeClass('disableElement');
        }
        
        function isTextAreaDisable(originalVal , expectingVal){
            $element = $('.textareafield');
            if(originalVal == expectingVal){
                $element.removeClass('disableElement');
            }else{
                $element.find('textarea').val('');
                $element.addClass('disableElement');
            }
        }
        
        function isClauseDisable(fieldId, originalVal , expectingVal){
            $element = $('#'+fieldId);
            if(originalVal == expectingVal){
                $element.removeClass('disableElement');
                $element.find('.sol-container').removeClass('disableElement');
                $element.next().removeClass('disableElement');
                $element.next().find('.sol-container').removeClass('disableElement');
                $element.next().find('.slds').removeClass('disableElement');
            }else{
                if(fieldId!='farClause' && $element.find( "input:checked" ).length>0)
                    $('.saveclausebtn').addClass('disableElement');
                $element.find( "input:checked" ).each(function(index){
                    $(this).prop('checked', false).trigger('change');
                });
                
                
                $element.addClass('disableElement');
                $element.find('.sol-container').addClass('disableElement');
                $element.next().addClass('disableElement');
                $element.next().find('.sol-container').addClass('disableElement');
                $element.next().find('.slds').addClass('disableElement');
            }
        }
        </script>
    </apex:outputPanel>
    <apex:outputpanel styleclass="slds info slds-show" rendered="{!isValidLiecence != 'Yes'}">
        <img style="max-width: 48px;" class="headerImg" src="{!$Resource.TM_TOMA__infoImg+'/infoImg/info.png'}"/>{!isValidLiecence}<!--You don't have permission to access this component please contact your Administrator.-->
    </apex:outputpanel>
</apex:page>