<apex:page standardController="Survey__c" extensions="TM_SurveyResponsePageController" id="page">
<apex:outputPanel rendered="{!isValidUser!='Yes' }">
       
       <div class="info slds-show">
           <div style="display: inline-block; vertical-align: middle;">
               <img style="max-width: 48px;" class="headerImg" src="{!$Resource.infoImg+'/infoImg/info.png'}"/>
           </div>
           <div style="display: inline-block; vertical-align: middle; font-size: 14px;">
               <!--You don't have permission to access this component please contact your Administrator.-->
               {!isValidUser}
            </div>
       </div>
       
   </apex:outputPanel>
   <apex:outputPanel rendered="{!isValidUser == 'Yes' }">
    <apex:includeScript value="{!URLFOR($Resource.bootBox,'bootBox/jquery-1.11.2.min.js')}"/> 
    <apex:includeScript value="{!URLFOR($Resource.bootBox,'bootBox/bootstrap-modal.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.bootBox,'bootBox/bootstrap-modalmanager.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.bootBox,'bootBox/bootbox.js')}"/>
 
 <!--   <apex:stylesheet value="{!URLFOR($Resource.bootBox,'bootBox/bootstrap-modal.css')}" /> 
    <apex:stylesheet value="{!URLFOR($Resource.bootBox,'bootBox/bootstrap.css')}" />  -->
    <apex:stylesheet value="{!URLFOR($Resource.bootBox,'bootBox/bootstrap-modal-bs3patch.css')}" /> 
    <apex:stylesheet value="{!URLFOR($Resource.bootstrapNamespace)}" /> 
    <apex:stylesheet value="{!$Resource.splashCSS}"/> 
    
    <apex:pageMessages />
    
       <div id="errMessageDivId" style="display:none;">
           <apex:pageMessage title="Error Message" detail="Please fill all the required questions." severity="Error"></apex:pageMessage>
       </div>
       
       <head>
           
           <script>
           var radioValue = [];
           var checkboListSize = [];         
           function getRadioValue(rowIndex, radioVal){
               radioValue[rowIndex] = radioVal;
           }
         
         function showsuccess(){
             console.log(queList);
             
             //if({!isSuccess}){
             /*alert("Your Survey Has Been Completed");
                      afterfinish();*/
                   /*$('.inputIsChecked').each(function(i,o){
                       console.log(o.data);
                       //can get the name of the element here in a variety of ways, 
                       //split the classes and take the one that is the name of the list-element. 
                   });*/
                   var listSize = {!queWraList.size};
                   var isValid = true;
                   var i;
                   var checkbox;
                   var ans;
                   var hasMatch = false;
                   for (i = 0; i < listSize; i++) {
                       var eachQueInfo = queList[i];
                       ans = '';
                       hasMatch = false;
                       if(eachQueInfo.mandatory == true){
                           if(eachQueInfo.queType == 'Text'){
                               ans = document.getElementById('page:frm:list:' + i + ':textAns').value;
                               hasMatch = true;
                           }else if(eachQueInfo.queType == 'Descriptive'){
                               ans = document.getElementById('page:frm:list:' + i + ':desriptiveAns').value;
                               hasMatch = true;
                           }else if(eachQueInfo.queType == 'Radio'){
                               //ans = document.getElementById('page:frm:list:' + i + ':radioAns').value;
                               ans = radioValue[i] != undefined ? radioValue[i] : '';
                               hasMatch = true;
                           }else if(eachQueInfo.queType == 'Checkbox'){
                               var isChkChecked = false;
                               for(var j = 0; j < checkboListSize[i]; j++){
                                   isChkChecked = document.getElementById('page:frm:list:' + i + ':repeatOpt:' + j + ':checkboxAns').checked;
                                   console.log(isChkChecked);
                                   if(isChkChecked){
                                       break;
                                   }
                               }
                               if(isChkChecked == false){
                                   ans = '';
                                   hasMatch = true;
                               }
                           }
                           console.log(ans);
                           if(hasMatch && ans == ''){
                               break;
                           }
                       }
                       console.log('===============');
                   }
                   
                   if(hasMatch && ans == ''){
                       //alert('Fill required Questions');
                       $('#errMessageDivId').show();
                       return false;
                   }else{
                       submitFunction();
                       alert("Your Survey Has Been Completed");
                       afterfinish();
                       //return true;
                   }
                   // }
                   
               }
         /*function afterfinish(){
             alert("Your Survey Has Been Completed");
             afterfinishFunction();
         }*/
              function showMessage(){
                  var emailadd = document.getElementById('{!$Component.frm.emailid}').value;
                  var firstName = document.getElementById('{!$Component.frm.fName}').value;
                  var lastName = document.getElementById('{!$Component.frm.lName}').value;
                  var companyName = document.getElementById('{!$Component.frm.compName}').value;
                  var isValidate = true;
                  if(firstName == ''){
                      document.getElementById('{!$Component.frm.fName}').style.border="1px solid red"; 
                     // alert('Please insert First Name.');             
                      isValidate = false; 
                  }else{
                       document.getElementById('{!$Component.frm.fName}').style.border="1px solid #e5e5e5"; 
                  }
                  if(lastName  == ''){
                      document.getElementById('{!$Component.frm.lName}').style.border="1px solid red"; 
                     // alert('Please insert Last Name.');
                     isValidate = false;
                  }else{
                      document.getElementById('{!$Component.frm.lName}').style.border="1px solid #e5e5e5"; 
                  }
                  if(companyName == ''){
                       document.getElementById('{!$Component.frm.compName}').style.border="1px solid red"; 
                      // alert('Please insert Company Name.');
                      isValidate = false;
                  }else{
                      document.getElementById('{!$Component.frm.compName}').style.border="1px solid #e5e5e5"; 
                      
                  }
                   if(emailadd == ''){
                       document.getElementById('{!$Component.frm.emailid}').style.border="1px solid red"; 
                       
                     isValidate = false;
                  }else if(validateEmail(emailadd) == ''){
                      alert('Please insert proper email address.');
                       isValidate = false;
                  }else{
                      document.getElementById('{!$Component.frm.emailid}').style.border="1px solid #e5e5e5"; 
                  }
                  return isValidate;
              }
              function validateEmail(emailadd) {
                    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return re.test(emailadd);
                }
          </script>
          
         <style type="text/css">
         
           body{
                 padding-top: 0px;
           } 
           .myBlock{
                 float:center;width:1000px;height:250px;padding-top:10px;
           }
           
           .sectionbox{ 
             
                float:left; border-width: 2px;
                border-style:Solid;padding:10px;text-align:left;width: auto;
                height: auto;
                margin: auto;
                padding: 0px 0px 0px 0px;
                border: 3px solid #33495E; width:100%;
                border-collapse: collapse;-moz-border-radius: 9px 3px 9px 3px;
                -webkit-border-radius: 3px;
                -webkit-border-top-left-radius: 9px;
                -webkit-border-bottom-right-radius: 9px;
            }
           .technomile .panel {
              
                float:left;width:850px;height:250px;  border-width: 1px;
                border-style:Solid grey;text-align:left
              }
              
            .technomile .centerDiv { 
               width:100%; height:200px; margin: 0 auto;
             }
               
            .technomile .rightalign{ 
                text-align: right;
                padding-right: 26px;
             }
             
            .technomile .leftalign{ 
                text-align: left;
                padding-left: 26px;
             }
                
            @media(min-width:768px){
                .paddfix{
                            padding-left: 24px;
                }
             }
            label{
                display: inline-block;
                max-width: 100%;
                margin-bottom: 5px;
                
                padding-left: 10px;
                font-weight:400!important;
            } 
            
            .progressBar{
            background-color: #f8f8f8;
            border:1px solid #DDDDDD;
            height: 19px;
            width: 300px;
            -moz-border-radius: 5px; 
            -webkit-border-radius: 5px;
        }
        .progress{
            background-color: #47A3FF;
            border:1px solid #47A3FF;
            height: 100%;
            margin: -1px;
            text-align: center;
            -moz-border-radius: 5px; 
            -webkit-border-radius: 5px;
            line-height: 18px;
        }
        
        .sidebarCell, #sidebarDiv {
            width: 200px !important;
        }
        
       .technomile .btn{
             background-color: #33495E !important;
             color: #D4E4E4 !important;
             background-image: none !important;
             border-color: #33495E !important;
             margin : 0px 1px 0px 1px;
         }
         .pagination > li {
          display: inline-block;
          margin: 0;
        }
        
        .technomile .container {
          background-color: #f7f7f7;
          border: 1px solid #e6e9ed;
          border-radius: 4px;
          width: 100%;
        }
        
        .technomile .modal {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 100px;
            left: 0;
            z-index: 1050;
            display: none;
            overflow: hidden;
            -webkit-overflow-scrolling: touch;
            outline: 0;
        }
        #field_dragable_Modal{
       background: none;
        box-shadow: none;
        border: 0;
    }
              
       </style>
       
         <style type="text/css">
        .modal-open {
              overflow: hidden;
            }
           .modal {
              position: absolute;
              max-width: 1200px;
              width: 48%;
              top: 0;
              margin: 0 auto;
              right: 0;
              bottom: 79%;
              left: 0;
              z-index: 1050;
              display: none;
              overflow: hidden;
              -webkit-overflow-scrolling: touch;
              outline: 0;
            }
          .modal.fade .modal-dialog {
              -webkit-transition: -webkit-transform .3s ease-out;
                   -o-transition:      -o-transform .3s ease-out;
                      transition:         transform .3s ease-out;
              -webkit-transform: translate(0, -25%);
                  -ms-transform: translate(0, -25%);
                   -o-transform: translate(0, -25%);
                      transform: translate(0, -25%);
            }
            .modal.in .modal-dialog {
              -webkit-transform: translate(0, 0);
                  -ms-transform: translate(0, 0);
                   -o-transform: translate(0, 0);
                      transform: translate(0, 0);
            }
            .modal-open .modal {
              overflow-x: hidden;
              overflow-y: auto;
            }
           /*.modal-dialog {
              position: relative;
              width: auto;
              margin: 10px;
            }*/
             .modal-content {
              position: relative;
              background-color: #fff;
              -webkit-background-clip: padding-box;
                      background-clip: padding-box;
              border: 1px solid #999;
              border: 1px solid rgba(0, 0, 0, .2);
              border-radius: 6px;
              outline: 0;
              -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
                      box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            }
             .modal-backdrop {
              position: fixed;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1040;
              background-color: #33495E;
            }
             .modal-backdrop.fade {
              filter: alpha(opacity=0);
              opacity: 0;
            }
            .modal-backdrop.in {
              filter: alpha(opacity=50);
              opacity: .5;
            }
            .modal-header {
              background: #33495E none repeat scroll 0 0;
              border: 1px solid #33495E;
              border-radius: 5px 5px 0 0;
              color: #fff;
              min-height: 16.4286px;
              padding: 15px;
            }
          .modal-header .close {
              margin-top: -2px;
            }
          .modal-title {
              margin: 0;
              line-height: 1.42857143;
            }
             .modal-body {
              position: relative;
              padding: 15px;
            }
            .modal-footer {
              padding: 15px;
              text-align: right;
              border-top: 1px solid #e5e5e5;
            }
            .modal-footer .btn + .btn {
              margin-bottom: 0;
              margin-left: 5px;
            }
            .modal-footer .btn-group .btn + .btn {
              margin-left: -1px;
            }
            .modal-footer .btn-block + .btn-block {
              margin-left: 0;
            }
           .modal-scrollbar-measure {
              position: absolute;
              top: -9999px;
              width: 50px;
              height: 50px;
              overflow: scroll;
            }
            
           .popupLabel{
                padding-left: 20px;
                padding-right: 10px;
                padding-top: 10px;
                font-weight: bold;
            }
            
          .moda-backdrop.in {
                filter: alpha(opacity=50);
                opacity: .5;
            }
          .moda-backdrop.fade {
                filter: alpha(opacity=0);
                opacity: 0;
            }
          .moda-backdrop {
                position: fixed !important;
                top: 0 !important;
                right: 0 !important;
                bottom: 0 !important;
                left: 0 !important;
                z-index: 1000 !important;
                background-color: #000 !important;
            }
           
        
    </style>
   </head>
   
<apex:outputPanel id="completePanel" >
   <!---------------------------------------first output panel starts ----------------------------------------------------------------------------------->
    
     <!---------------------------------------second output panel starts----------------------------------------------------------------------------------->   
      
      <span class="technomile"> 
     
      <apex:form id="frm" rendered="{!alreadysubmitted}" >
      <!----------------------------------------------------------->
          <apex:outputPanel rendered="{!hideFirstPanel}">
       
        <apex:outputPanel rendered="{!isContinueClicked}">
                <script>
                     $(document).ready(function(){       
                       $('#blackfadeinpanel').removeClass( "modal-backdrop fade in" );
                       $('#modelPanel').css("display","none");
                    });
                </script>
            </apex:outputPanel> 
            
           <div id="modelPanel">
         
            <apex:outputPanel style="z-index: 15000 !important;"> 
                    
                    <div class="modal" id="field_dragable_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:block;">
                      <div class="modal-dialog" role="document">
                      
                        <div class="modal-content">
                           <apex:pageMessages ></apex:pageMessages>
                              <div class="modal-header">
                                  <!--  <button type="button" class="button" onclick="backToOpportunity()" style="float:right;"><span aria-hidden="true">&times;</span></button> -->
                                  <b>  User Information</b>
                              </div>
                              <div class="modal-body" style="display: inline-block;width: 100%;box-sizing: border-box;">
                                   
                                   
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width : 60%;">
                                            <div class="form-group">
                                            <span style="color:red;">*</span> 
                                                <label><b>First Name:</b></label>
                                                <div ><apex:inputText styleClass="form-control"  value="{!firstName}" id="fName" required="true"/> </div>
                                            </div>
                                        </div>
                                        
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="width : 60%;">
                                            <div class="form-group">
                                           <span style="color:red;">*</span> 
                                                <label><b>Last Name:</b></label>
                                                <div ><apex:inputText styleClass="form-control"  value="{!lastName}" id="lName" required="true"/></div>
                                            </div>
                                        </div> 
                                        
                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="width : 60%;">
                                            <div class="form-group">
                                            <span style="color:red;">*</span> 
                                                <label><b>Company Name:</b></label>
                                                <div ><apex:inputText styleClass="form-control"  value="{!companyName}" id="compName" required="true"/> </div>
                                            </div>
                                        </div>
                                        
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="width : 60%;">
                                            <div class="form-group">
                                            <span style="color:red;">*</span> 
                                                <label><b>Email Address:</b></label>
                                                <div ><apex:inputText styleClass="form-control"  value="{!emailAddr}" required="true" id="emailid"/></div>
                                            </div>
                                        </div> 
                                   
                              </div>
                          
                              <div class="modal-footer">
                                  <apex:commandButton value="Continue" action="{!continueNew}"  reRender="frm,completePanel" onclick="if(!showMessage()){return false;}"/>
                               
                                  
                              </div>
                              
                        </div>
                        
                      </div>
                    </div>
                
           </apex:outputPanel>
        
            </div> 
        </apex:outputPanel>
          
          <!-------------------------------------------------------------->
       <div class="container"><br/>
       <apex:actionFunction action="{!submit}" name="submitFunction" rerender="frm"/> 
           <div class="container-fluid" >
            <apex:outputPanel >
              
                 <div class="row">
               
                 <div class="col-md-12" width="108%"> 
                      <div class="col-md-6" style="display: inline-block;  " > 
                        <div class="form-group" margin-bottom = "26px;">
                             <span style="color:red;margin-left: 3%;">*</span>  <label class=" control-label">Survey: </label> &nbsp;
                                   <apex:outputText value="{!survey.name}"  id="surv"  />
                             
                       </div> 
                      </div>
                      <div class="col-md-6" style="display: inline-block;  "> 
                         <div class="form-group" margin-bottom= "26px;">
                               <label class=" control-label" >Description:</label> 
                                    <apex:outputText value="{!survey.Description__c}"  />
                        </div>
                      </div>
                </div>
           </div>
            </apex:outputPanel>
                  <apex:variable value="{!0}" var="rowIndex" />
                 <script>var queList=[];</script>
               <apex:repeat value="{!queWraList}" var="qw" id="list">
                   <script>
                   //queList.push('{!qw}');
                   queList.push({
                       queType : '{!qw.question.Question_Type__c}',
                       mandatory : {!qw.question.Is_mandatory__c}
                       
                   });
               
                 checkboListSize[{!rowIndex}] = {!qw.optionsList.size}
                   </script>
               <apex:outputPanel styleClass="sectionbox " layout="block" id="quePanel" style="margin-bottom:8px;">
                    <div style="text-align:left;"  styleClass="panel"  >
                        <apex:outputPanel layout="block" id="otpan" style="background-color: #33495E;height:35px;padding-top:5px">
                        <div class="row">
                    
                            <div class="col-md-3 leftalign"   style="float:left;">
                               <apex:outputText value="Question {!qw.srNo}" style="font-size:15px;color:#FFF;font-weight: 900;"/>
                            </div>
                           
                            
                        </div>
                       </apex:outputPanel>
                  </div><br></br>
                  
                    <!---------Question Block------------------------->
                  
                  <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-2" >
                        <span style="display:{!if(qw.question.Is_Mandatory__c,'inline-block','none')};color:red;padding-left:5px">*</span>
                         <b> <apex:outputText value="{!qw.srNo}. Question" style="padding-left:20px;padding-left:5px"/> </b>
                    </div>
                    <div class="col-md-10" >
                          <apex:outputText value="{!qw.question.Question__c}"  style="padding-left:5px"/>
                        
                      </div>
                     </div>
                 </div>
                 
                 <!---------Option Block------------------------->
                   <!---------1 Checkbox Type------------------------->
             <div class="row col-md-12" style="height:10px"></div>
                <apex:outputPanel rendered="{!qw.question.Question_Type__c=='Checkbox'}"  >
                    <apex:repeat value="{!qw.optionsList}" var="os" id="repeatOpt"  >    
                        <div class="row" id="opt1row">
                             <div class="col-md-12" style="padding-left:28px;">
                                 <div class="form-group">
                                   <div class="col-md-2"></div>
                                       <div class="col-md-10 ">
                                           <apex:inputCheckbox value="{!os.checkboxChecked}" id="checkboxAns">
                                            <!--   <apex:param name="p" value="{!qw.srNo}" assignTo="{!qw.ansCheck}"/> -->
                                           </apex:inputCheckbox>
                                            <apex:outputText value="{!os.options}"  style="position: relative;top: -2px;padding-left:5px;" />                             
                                     </div>
                                </div>
                             </div>
                       </div><br></br>
                     </apex:repeat>
               </apex:outputPanel>
                   
            <!---------------------2 Radio Type------------------------->
              <div class="row col-md-12" style="height:10px"></div>
                  <apex:outputPanel rendered="{!qw.question.Question_Type__c=='Radio'}"  > 
                      <div class="row" id="opt1row">
                          <div class="col-md-12 "  style="padding-left: 28px;">
                              <div class="form-group">
                                  <div class="col-md-2"></div>
                                      <div class="col-md-10 paddfix">
                                          <apex:selectRadio value="{!qw.radioSelected}" id="radioAns" onchange="getRadioValue({!rowIndex},this.value);" layout="pageDirection" style="color:white;position: relative;top: -2px;">
                                              <font color="white" > <apex:selectOptions value="{!qw.selectOptionRadio}"></apex:selectOptions></font>
                                          </apex:selectRadio>
                                     </div>
                                 </div>
                             </div>
                       </div>
                 </apex:outputPanel> 
                   
             <!--------------------3 Descriptive Type------------------------->
                   
               <apex:outputPanel rendered="{!qw.question.Question_Type__c=='Descriptive'}"  > 
                   <div class="row" id="opt1row">
                       <div class="col-md-9 col-sm-12 col-xs-12"  style="padding-left: 38px;">
                           <div class="form-group">
                               <div class="col-md-2  col-sm-3 col-xs-9">
                                   <label class=" control-label" >Answer</label> 
                               </div>
                               <div class="col-md-9 col-sm-9 col-xs-12">
                                     <apex:inputtext value="{!qw.answerDesc}" id="desriptiveAns" styleClass=" form-control"/>
                               </div>
                          </div>
                      </div>
                  </div><br></br>
              </apex:outputPanel>
                   
             <!------------------------4 Text Type------------------------->
              <apex:outputPanel rendered="{!qw.question.Question_Type__c=='Text'}"  > 
                  <div class="row" id="opt1row">
                      <div class="col-md-9 col-sm-12 col-xs-12"  style="padding-left: 38px;">
                          <div class="form-group">
                              <div class="col-md-2  col-sm-3 col-xs-9">
                                  <label class=" control-label" >Answer</label> 
                              </div>
                              <div class="col-md-9 col-sm-9 col-xs-12">
                                 <apex:inputtext value="{!qw.answerDesc}" id="textAns" size="20"  styleClass="form-control" />
                             </div>
                         </div>
                     </div>
                </div><br></br>
            </apex:outputPanel>
                   
            <!-----------------------5 Picklist Type------------------------->
                   
             <apex:outputPanel rendered="{!qw.question.Question_Type__c=='Picklist'}"  > 
                 <div class="row" id="opt1row">
                     <div class="col-md-9 col-sm-12 col-xs-12 " style="padding-left: 28px;">
                         <div class="form-group">
                             <div class="col-md-2 col-sm-4">
                                 <label class=" control-label" >Select</label> 
                             </div>
                             <div class="col-md-6  col-sm-4 paddfix">
                                 <apex:selectList value="{!qw.picklistSelected}" multiselect="false" size="1" styleClass="form-control">
                                     <apex:selectOptions value="{!qw.selectOptionPicklist}" ></apex:selectOptions>
                                   <!--  <apex:param name="p2" value="{!qw.srNo}" assignTo="{!qw.ansPicklist}"/> -->
                                 </apex:selectList>
                             </div>
                        </div>
                     </div>
                </div><br></br>
           </apex:outputPanel> 
      </apex:outputpanel>   
     <apex:variable value="{!rowIndex + 1}" var="rowIndex" />
  </apex:repeat>
            <!---------------------------------------------Command Button------------------------------------------->
          <apex:outputPanel >
                   <div align="center">       
                       <div class="col-md-12 col-xs-12 col-sm-12">
                           <!-- <apex:commandButton reRender="frm" disabled="{!if(index==0,true,false)}" value="<<Prev" action="{!getPrevious}"/>              
                             <apex:commandButton reRender="frm,dialogFlagpanel" disabled="{!if(index==recordCount-1,true,false)}" value="Next>>" action="{!getNext}"/>      -->       
                             <apex:commandButton reRender="frm,dialogFlagPanelSuccess" value="Submit" onclick="return showsuccess()" />     
                       </div>
                   </div>
       </apex:outputPanel>
       
       <apex:actionFunction name="afterfinish" action="{!callafterfinish}"/>
       </div><br></br>
       </div>
       
           <!--<div class="row">
              <center>
               <div class="progressBar">
                    <div class="progress" style="width: {!Floor((index/recordCount)*100)}%;">
                        {!Floor((index/recordCount)*100)}%
                    </div>
                </div>
                </center>
         </div>-->
       <!------------------------------------------------------------------------------------------------------------------------->
       </apex:form>
     
    </span>
    
     </apex:outputPanel>
      <apex:outputPanel rendered="{!isOnLoad}">
      <!--Below Line Replaced with static resource "Jquery213"
		<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"/>-->
	<apex:includeScript value="{!$Resource.Jquery213}"/>

       <script>
           $(document).ready(function(){       
               $('body').prepend('<div class="modal-backdrop fade in" id="blackfadeinpanel"></div>');
            });
            
       </script>
   </apex:outputPanel>
	</apex:outputPanel>
</apex:page>