.THIS {
}
.THIS .date_day{color: #2c81c1;
    display: inline-block;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 24px;
    vertical-align: top;}
.THIS .date_month{color: #2c81c1;
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    margin-left:5px
}

.THIS .date_wrap{ position:absolute; bottom:10px; left:0}