.THIS {
}
.THIS.hidethis{display:none!important;}
.THIS .cust_disable{
    background: rgb(224, 229, 238);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
	cursor: not-allowed;
}
.THIS a:hover{
    opacity: 1!important;
}

.THIS .textcenter{
    text-align: center;
}
 @media (min-width: 48em){
.THIS .email_slds-modal__container {
    margin: 82px auto 0 auto!important;
  
 }
    .THIS .teaming_container{
        margin: 78px auto 0 auto!important;
    }
}

.THIS .slds-modal_large_extension{
    height : 90%;
}