.THIS .atAGlanceField{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.THIS.slds-col--padded{
   
    flex: inherit!important;
}
.THIS .fieldImg {
    float: left;
    display: inline-block;
    margin: 0 10px 0 0;
}
.THIS .slds-page-header__title_Custom {
    font-size: 1.125rem;
}
@media (max-width:1400px){
 .THIS .atAGlanceField{
   /* max-width: 110px;*/
}      
}