<script src="jquery-1.11.2.min.js"></script>
<script src="bootstrap-modal.js"></script>
<script src="bootstrap-modalmanager.js"></script>
<script src="bootbox.js"></script>
<link href="bootstrap-modal.css" type="text/css" rel="stylesheet" />
<link href="bootstrap.css" type="text/css" rel="stylesheet" />
<link href="bootstrap-modal-bs3patch.css" type="text/css" rel="stylesheet" />
<button onClick="bootbox.alert('Hello world!')">Click Me</button>