.THIS .hideClass{
    display: none!important;
}
.THIS .slds-lookup__menu{
    display:block;
}
.THIS .slds-hide{
    display:none!important;
}
.THIS .slds-lookup {
    position: static;
}
.THIS .custaccicon{
    
    display:inline-block!important;
  width:20px; height:20px; border-radius:4px; margin-right:5px; margin-top:0;
    position: static;
}

.THIS .slds-lookup__menu {
    display: block;
}
.THIS .slds-button {
    padding: 0!important;
}
.THIS .vfCssScroll{
    height: 100px;
    overflow-y: scroll; 
    max-width:100%;
}
.THIS .slds-input {
    line-height: 32px!important;
}

.THIS .slds-lookup.slds-has-selection .slds-pill {
    width: 100%;
}