.THIS .hrline{
    display: block;
    margin: 0 0;
    border-top: 1px solid red;
    width: 84%;
    clear: both;
    margin-top: -1%;
}
.THIS .required {
    border-left: 4px solid red;
}
.THIS .required1 {
    border-bottom: 2px solid #0A2638;
}
.THIS td{vertical-align: middle;}
.THIS .slds-lookup__menu{ z-index:1000; position:fixed; max-width:200px}
.THIS .tdClass {
  vertical-align: top;
}
.THIS .DivPad1 {
        padding-top: 6px;
    padding-bottom: 6px;
}
.THIS .textAreaStyle {
    height: 38px;
    padding: 0 0.75rem;
      border-radius: 4px;
}
.THIS .slds-table td{
    position: inherit;
}
.THIS .slds-table th {
    position: inherit;
}
.THIS  .slds-lookup__menu {
    position: absolute;
}
.THIS .spanMnditoryClass{
    color: Red;
    font-weight: bold;
    position: static;
    display: inline-block;
    float: left;
    margin-right: 5px;

}
.THIS .Button1 {
  float:right;
    margin-right: 4px;
}
.THIS .slds-table th {
    background: #eef1f6;
}


.THIS .slds-table--bordered {
    border: 1px solid #d8dde6;
}
.THIS .slds-truncate textarea{ resize:inherit}

.THIS .deletebtn:focus{ outline: 0   }

.THIS .slds-lookup__menu {
    display: block;
}
.THIS .vfCssWidth{width: 1700px;}

.THIS .vfCssScroll{ position: relative;
}


/*.THIS tr:nth-last-child(2) .vfCssScroll{  bottom: 36px!important;
}

.THIS tr:last-child .vfCssScroll{  bottom: 36px!important;
}*/
.THIS .deletebtn:focus{ outline: 0   }
.THIS .hidediv{
    /* background-color: rgb(233, 234, 236);
    border-color: rgb(196, 198, 202);
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
    
    cursor: not-allowed!important;
    pointer-events: none!important;
    opacity: 0.5!important;
    /*background: rgba(0, 0, 0, 0.10)!important;*/
}
.THIS .alrequired input {
    border-left: 0px solid red!important;
}