.THIS .hideClass{
    display: none!important;
}
.THIS .slds-lookup__menu{
    display:block;
}
.THIS .slds-hide{
    display:none!important;
}
.THIS .slds-lookup {
    position: static;
}
.THIS .custaccicon{
    
    display:inline-block!important;
  width:20px; height:20px; border-radius:4px; margin-right:5px; margin-top:0;
    position: static;
}

.THIS .slds-lookup__menu {
    display: block;
}
.THIS .slds-button {
    padding: 0!important;
}
.THIS .vfCssScroll{
    height: auto;
    overflow-y: auto; 
        width: 400px;
}
.THIS .slds-input {
    line-height: 32px!important;
}