.THIS {
       background: rgb(250, 250, 249);
}
.THIS .mainWrapper {
    padding: 15px;
   /* margin: -12px;*/
    margin: 0px;
    background: rgb(250, 250, 249);
}
.THIS .spinner_cls_custom{
    height:150%;
}
.THIS:hover [role=combobox] input[readonly] {
  /*  cursor: pointer;*/
}
.THIS .dispnone{display:none!important;}
.THIS .inputflds {
    width:91%;
}
.THIS .slds-modal__header_custom{
    background: transparent;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}
.THIS .customRequired{
    font-weight: 400;
} 
/*.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; 
}*/
.THIS .none{
    display:none;
}
.THIS.slds-checkbox--faux:after {
    border-color: black!important;
}

.THIS .slds-form-element__control{
    display: grid;
}
.THIS .slds-form-element{
    width:100%;
}
.THIS .cust_disable{
    background: rgb(224, 229, 238);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: not-allowed;
}
.THIS .datePicker-openIcon{
    margin-top:10px;
}
.THIS .form--stacked{
    display: flex;
}

.THIS .div_Half{
    display:inline-table;
    /* float:left;*/
    min-height: 62px;
    margin-bottom: 0px;
    vertical-align: top;
}

.THIS .hide{
    display:none!important;
}
.THIS .div_Half label{
    display: inline-block;
    margin-bottom: 5px;
    width: auto;
}
.THIS .textarea{ padding:0 .75rem}

.THIS input[type=checkbox], .THIS input[type=radio] {
    box-sizing: border-box;
    line-height: normal;
    padding: 0;
    margin: 0;
    min-height: inherit;
    
}
.THIS .slds-section-title--divider{clear:both}
.THIS .slds-icon--large {
    height: 15px;
    width: 15px;
}
/*.THIS .slds-icon {
border-radius: .25rem!important;
fill: #e0e5ee!important;
-webkit-transition: all .5s ease!important;
transition: all .3s ease!important;
height: 12px!important;
width: 12px!important;
opacity: 0.5!important;
}*/
.THIS .slds-modal__footer_custom{
    background: transparent;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}
.THIS .slds-icon_small{
    width: 12px;
}
.THIS lightning-helptext{
    width:auto!important;
}

.THIS .border-div:hover .slds-icon {
    opacity: 1!important;
}
.THIS .slds-icon-standard-user {
    background-color: transparent;
}
.THIS .dateicon{position:absolute; right:15px; top:28px}
.THIS .editicon{position:absolute; right:15px;top:32px;}
.THIS .border-div:hover .slds-icon{fill: #0070d2; transition: all 0.5s ease;}
.THIS .border-div{ 
    border-bottom:1px solid rgb(216, 221, 230); 
    padding:8px 0; 
    position:relative;
    /*min-height:69px!important;*/
     min-height: 75px!important;
}
.THIS .editPage{
    border-radius: 5px;
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.16);
    padding: 10px;
    margin: 10px;
    width:100%;
    display: inline-block;
}
.THIS .btnClass{
    clear: both;
    text-align: center;
    margin-top: 10px;
}
.THIS .uiOutputTextArea {
    
    word-wrap: break-word;
    width: 94%;
    display: inline-block;
}
.THIS.hideThis{
    display:none;
}
.THIS .hideThisButton{
    display:none;
}
.THIS .slds-modal__container{
    width: 70%;
    max-width: 1000px;
    min-width: 480px;
    padding:80px 0 0 0
}
.THIS .slds-modal__content{height:400px;height: 450px;
    font-size: 80%;}
.THIS .slds-modal__header {
    padding: 15px;
}
.THIS .IsRectypeSelection{
    height: 300px!important;
    font-size: 111%!important;
    padding: 2rem!important;
}
.THIS .icon_circle{
    width: 25px;
    height: 25px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    padding: 0;
    vertical-align: middle;
}
.THIS .section_heading{
    padding: 0 10px;
   color: #0070d2;
    font-weight: bold;
    font-size: 24px;
}
.THIS .errorpop{
    position: relative;
    display: inline-block;
}
.THIS .errorpoptop{
    position: relative;
    display: inline-block;
    margin-right: 4px;
}
.THIS .popupcontent{
    bottom: 30px;
    left: -15px!important;
    width: 250px;
    top: inherit!important;
    background-color: rgb(194, 57, 52)!important;
}
.THIS .popupcontenttop{
    left: -15px!important;
    width: 250px;
    top: 31px!important;
    background-color: rgb(194, 57, 52)!important;
}
.THIS .imgmargin{
    position: absolute;
    bottom: 5px;
    right: 5px;
    max-width: 12px;
}
.THIS .slds-active .slds-tabs--scoped__link{
    color:white!important;
}

.THIS .slds-section {
    margin: 0;
    display: inline-block;
    width: 100%;
    box-shadow: 0px 0px 6px #555;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 0;
    margin-top: 0;
    margin-bottom: 15px;
}

.THIS .trianglularspan {
    width: 15px;
    height: 15px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
    right: -5px;
    bottom: 12px;
    margin-left: -.5rem;
}

.THIS .slds-tabs--scoped__nav {
    background-color: #fbfbfb;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
}


.THIS .slds-tabs--scoped__link {
    height: auto;
    line-height: normal;
    padding: 12px 10px!important;
    color: #54698d;
    background-clip: padding-box;
    border-left: 1px solid transparent;
    border-right: 1px solid #b7c2d6;
    font-weight: 600;
    font-size:11px;
    overflow:inherit!important
}
.THIS .slds-active .slds-tabs--scoped__link{ border-radius:0!important;z-index: 2!important;}

.THIS .slds-tabs--scoped__link:hover{
    border-color: #b7c2d6;
}

.THIS .slds-tabs--scoped__link:focus {
    border-color: #b7c2d6;
}
.THIS .slds-active .slds-tabs--scoped__link:focus {
    text-decoration: none;
}
.THIS .slds-tabs--scoped__item {
    overflow: inherit;
}

.THIS .slds-tabs--scoped__item:first-child .slds-tabs--scoped__link {
    border-radius: 0;
}

.THIS .slds-tabs--scoped__item {
    margin-left: -3px;
}

.THIS .loader,
.THIS .loader:before,
.THIS .loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.THIS .loader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 6px auto;
    position: relative;
    font-size: 5px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
}
.THIS .loader:before,
.THIS .loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.THIS .loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.THIS .loader:after {
    left: 1.5em;
}
.THIS .tabcls{
    display : inline-block;
    width:100%
}

.THIS .slds-spinner_container {
    position: fixed!important;
    z-index: 10000 !important;
}

.THIS .flexipageBaseRecordHomeTemplateDesktop {
    min-width: auto;
    height: 100%;
}
.THIS .slds-button__icon--large {
    width: 1.2rem;
    height: 1.2rem;
}
.THIS .reqfieldcls{
    border-left: 4px solid red!important;
}
.THIS .headerbtn{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 2px;
}
.THIS .errorIcon{
    fill: #ff0000!important;
    opacity: 1!important;
}
.THIS .tab_errorNew_div{margin-left:2px;}
.THIS .validationerr_div{
    margin: 9px 0!important;
    opacity: 1!important;
    width: 100%;
    font-size: 14px;
    border: 0px;
    padding-left: 10px;
    box-shadow: 4px 6px 6px #888887;
    text-align: left;
}
.THIS .uiDatePicker--default .datepicker__filter--year {
    margin-top: 10px;}
/* New css to replace butstrap*/
.THIS .sectioncls{
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 4px;
    box-shadow: 0 0 5px #ccc;
    min-height: 400px;
    padding: 15px;
    padding-bottom:0;
}
.THIS .actrequired input{
    border-left: 4px solid red!important;
}
.THIS .actrequired textarea{
    border-left: 4px solid red!important;
}
.THIS .actrequired .slds-dueling-list__options{
    border-left: 4px solid red!important;
}
.THIS .alrequired input{
    border-left: 4px solid red!important;
}
.THIS .alrequired .slds-rich-text-editor__toolbar{/*this css added for rich text area field */  
    border-left: 4px solid red!important;
}
.THIS .alrequired .slds-rich-text-editor__toolbar input{/*this css added for rich text area field */  
    border-left: 1px solid rgb(213, 216, 218)!important;
}
.THIS .actrequired .slds-rich-text-editor__toolbar{/*this css added for rich text area field */  
    border-left: 4px solid red!important;
}
.THIS .actrequired .slds-rich-text-editor__toolbar input{/*this css added for rich text area field */  
    border-left: 1px solid rgb(213, 216, 218)!important;
}
.THIS .alrequired textarea{
    border-left: 4px solid red!important;
}
.THIS .alrequired .slds-dueling-list__options{
    border-left: 4px solid red!important;
}
.THIS .customRequired label:after{    
    content: " (required on final)";
}
.THIS .customDraftRequired label:after{    
    content: " (required on draft)";
}

.THIS .customDraftRequired span:after{  /*this css added for rich text area field */  
    /* content: " (required on draft)";*/
}
.THIS .customRequired span:after{/*this css added for rich text area field */    
    /* content: " (required on final)";*/
}
.THIS .slds-button_brand{    
    background-color: #0070d2!important;
    border: 1px solid #0070d2!important;
}
.THIS .photoContainer {
    vertical-align: inherit;
    background-clip: content-box;
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
}
.THIS .estimated_Cost {
    line-height: 16px;
    color: #3db368;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}
.THIS .blankBorder-div {
    border-bottom: 1px solid rgb(216, 221, 230);
    padding: 8px 0;
    position: relative;
    /*min-height: 93px!important;*/
     min-height: 75px!important;
}
.THIS .slds-form-element__static {
    padding-bottom: 0;
    min-height: auto;
}
.THIS .tabWrapper{
    padding-right:0;
}
.THIS .depandancydisabled
{
    background-color: rgb(233, 234, 236);
    border-color: rgb(196, 198, 202);
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.THIS lightning-input-field .slds-form-element__label{
    display: none!important;
}
.THIS lightning-input-field lightning-helptext{
    display:none!important;
}

.THIS .currencyfld .slds-form-element__static::before {
    background:url("/resource/icons/icons/icons/currency.png");
    width:25px; height:25px;
    background-repeat:no-repeat;
    content: "";
    display:inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background-size: cover;
}
.THIS .blankBorder-div {
    border-bottom: 1px solid rgb(216, 221, 230);
    padding: 8px 0;
    position: relative;
    /*min-height: 93px!important;*/
     min-height: 75px!important;
}
.THIS .hidelookupdiv{
   /* background-color: rgb(233, 234, 236);
    border-color: rgb(196, 198, 202);
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
    
   cursor: not-allowed!important;
    pointer-events: none!important;
    opacity: 0.5!important;
    background: rgba(0, 0, 0, 0.10)!important;
}
/*.THIS .hidelookupdiv .slds-combobox__input{background-color: rgb(236, 235, 234);    border-color: rgb(201, 199, 197);    cursor: not-allowed;    -webkit-user-select: none;    -moz-user-select: none;    -ms-user-select: none;    user-select: none;}*/
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
.THIS .help_icon svg{margin-top:-6px;}
.THIS .slds-popover.slds-popover__body {
    left: 0px!important;
}
.THIS .slds-truncate {
    /*max-width: 180px;*//*do not uncomment it effects on lookup field css we need max width 100 % as same as salesforce*/
}
.THIS .tabNameWrap{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    word-wrap: break-word; 
}
.THIS .customhelptxt_edit{
margin-left: 3px;
}
.THIS .customhelptxt_view{
margin-left: 3px;
}