.THIS .tskopage .toggle {
    display: none;
}
.THIS .tskopage .toggle2 {
    display: block;
}
.THIS .tskopage .info{        
                  border: 1px solid;
                  margin: 10px auto;
                  width:auto;
                  padding: 15px 10px 15px 65px;
                  background-repeat: no-repeat;
                  background-position: 10px center;
                  color: #00529B;
                  background-color: #DCEDF5;
}
.THIS .tskopage .styleClass {
    float:left
}
.THIS .tskopage .spn{
    width: 100%;
    background-color: black;
    
}
.THIS .tskopage .tdWidth{
    width: 25%;
    border: 0;
    
}
.THIS .tskopage .btnFBOUpdate .truncate
{
    margin: 9px;
    color: black;
    font-family: inherit;
}
.THIS .tskopage .btn1{
    position: absolute;
    right: 0;
}

.THIS .tskopage .labelRight{
    text-align: right;
    
    
}
.THIS .tskopage .fontSize{
    font-size: 12px;
}
.THIS .tskopage .labelRight {
  vertical-align: top;
}

.THIS .tskopage .slds-truncate{vertical-align: top;}

.THIS .tskopage .uiOutputRichText {
  height: 150px;
  overflow: auto;
}

.THIS .tskopage .slds-table .slds-truncate {
    min-width: 3.25rem;
    max-width: 30rem;
}

.THIS .tskopage .slds-table td, .THIS .tskopage .slds-table th {
    white-space: normal;
    
}

.THIS .tskopage .tdWidth {
    width: auto;
}

.THIS .tskopage .fbobtndiv{    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.THIS .tskopage .fbobtndiv span {
    padding: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.875rem;
    color: inherit;
   
}

.THIS .tskopage .timeLineTableDiv {
 height: 200px;
    overflow-y: auto;}

.THIS .tskopage .fbo_table td{vertical-align: top;white-space: pre-line;}

.THIS .tskopage .fbo_table td a{
    display: inline-block;
    white-space: pre-line;
    word-wrap: break-word;
    max-width:400px;
}

.THIS .tskopage .fbo_table .td_15{width:15%;}
.THIS .tskopage .fbo_table .td_35{width:35%;word-break: break-all;}

.THIS .tskopage .editBtnDisbeld{
            opacity: 0.5;
    pointer-events: none;
            }
.THIS .tskopage .slds-table thead th {
    border-top: 1px solid #d8dde6;
}
.THIS .tskopage .slds-text-heading--medium {
    font-weight: 400;
    font-size: inherit;
}
.THIS .tskopage .new-slds-truncate{
	text-overflow: inherit;
    white-space: inherit;
}

@media (max-width:1050px) {
      .THIS .tskopage .fbobtndiv {
    position: static;}
}

@media (max-width:991px) {
.THIS .tskopage .fbo_table .td_15{width:100%; float:left; text-align:left}
.THIS .tskopage .fbo_table .td_35{width:100%; float:left; min-height: 36px;} 
 
.THIS .tskopage .slds-table tr > td:first-child {
    padding-left: 9px!important;
}   
}

@media (max-width:768px) {
.THIS .tskopage .slds-table td{padding: 0 0 0 10px;}
.THIS .tskopage .slds-table th { padding: 0 0 0 10px;}
.THIS .tskopage .slds-table--bordered tbody td{border-top: 0 solid #d8dde6;}
.THIS .tskopage .slds-table--bordered tbody th {border-top: 0 solid #d8dde6;}

.THIS .tskopage .fbo_table td {white-space: pre-line;}   
.THIS .tskopage .btn1 {right: 10px;}
    
.THIS .tskopage .fbobtndiv {
    text-align: right;
    padding: 10px 10px;
}
    .THIS .tskopage .headerImg{
    width:52%;
}
    .THIS .tskopage .imgHight{min-height:60px}
    
    .THIS .tskopage .slds-table--bordered:not(.slds-no-row-hover) tbody tr:hover > td:not(.slds-is-selected){
  box-shadow:none;
}
 .THIS .tskopage .slds-table--bordered:not(.slds-no-row-hover) tbody tr:hover > th:not(.slds-is-selected) 
{ box-shadow:none;}

.THIS .tskopage .slds-table--bordered:not(.slds-no-row-hover) tbody tr:hover > td:not(.slds-is-selected){
  box-shadow:none;
}
.THIS .tskopage .slds-table--bordered:not(.slds-no-row-hover) tbody tr:hover > th:not(.slds-is-selected) {
    box-shadow:none;  
}

.THIS .tskopage .slds-table:not(.slds-no-row-hover) tbody tr:hover > td{
  background: none;
}

.THIS .tskopage .slds-table:not(.slds-no-row-hover) tbody tr:hover > th{
  background: none;
}
}
.THIS .tskopage .slds-spinner_container {position: fixed; z-index:1000}
.THIS .tskopage .slds-icon {
    border-radius: 0.25rem;
    fill: #e0e5ee;
    transition: all 0.5s ease;
    height: 12px!important;
    width: 12px!important;
    opacity: 0.5!important;
}
.THIS .tskopage .td_35:hover .slds-icon {
    opacity: 1!important;
}


@media (max-width:450px) {
    .THIS .tskopage .fbo_table td a{max-width:300px;}
    
.THIS .tskopage .slds-button--neutral{padding-left: 5px;padding-right: 5px;}
    
}