.THIS {
}
.THIS .slds-icon-action-description {
    background-color: cornflowerblue;
}
.THIS .icon_circle{
    width: 25px;
    height: 25px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    padding: 0;
    vertical-align: middle;
}