.slds-tabs--default__nav {
                  align-items: flex-start;
                  border-bottom: 0 solid #d8dde6;
                  display: inline-block;
                  float: left;
                  width: 20%;
                }
                
                .slds-tabs--default__link{
                    border-bottom: 1px solid #d8dde6;
                }
                
                /*
                 .slds-show {
                  border: 1px solid #d8dde6;
                  display: inline-block;
                  float: left;
                  padding: 15px;
                  width: 80%;
                }
                */
                
               .slds-tabs--default__link:focus {
                  border-bottom-width:1px;
                  border-color: #0070d2;
                }
                
                .slds-tabs--scoped__nav {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#607ca4+0,4e6994+100 */
                background: #607ca4; /* Old browsers */
                background: -moz-linear-gradient(top, #607ca4 0%, #4e6994 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #607ca4 0%,#4e6994 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #607ca4 0%,#4e6994 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#607ca4', endColorstr='#4e6994',GradientType=0 ); /* IE6-9 */
                border:1px solid #547098
                }
                
                .slds-tabs--scoped__link{
                  color: #fff;
                }
                
                .slds-tabs--scoped__link:hover,  .slds-tabs--scoped__link:focus {
                  border-color: #547098;
                  color: #a8b8d1;
                }
                .slds-active .slds-tabs--scoped__link {
                  background-color:#a8b8d1;
                  color: #fff; 
                }
                .slds-table--bordered {
                  border: 1px solid #d8dde6;
                }
                 .slds-table th {
                  font-weight:600; background:#eef1f6; color:#4e6994 ;
                  border-right:1px solid #d8dde6; position:static;
                  vertical-align: middle; text-align:center
                }
                 .slds-table td {
                   vertical-align: middle; text-align:center
                }
                
                 .slds-active  .slds-tabs--scoped__link {
                  border-color: #516c97;
                }
                
                 .slds-table .slds-input {
                  width:auto; max-width:50px
                }
                 .total{ background:#eef1f6;}
                 .total td{font-weight:600}
                
                 .smallSocialPhoto {
                  border-radius: 0.25rem;
                  display: block;
                  height: 1.5rem;
                  width: 1.5rem;
                }
                 .circular {
                  border-radius: 50%;
                }
                 .photoContainer {
                  background-clip: content-box;
                  display: inline-block;
                  padding-right:5px;
                  vertical-align: middle;
                }
                 .labelCol{ margin-bottom:5px}
                 .border-div{ border-bottom:1px solid rgb(216, 221, 230); padding:8px 0; position:relative}
                 .itemBody{ display:inline-block; width:100%;}
                 .itemLabel{color: rgb(84, 105, 141); font-size:14px;}
                 .slds-icon--large {
                    height: 15px;
                    width: 15px;
                }
                 .slds-icon {
                    border-radius: 0.25rem;
                    fill: #e0e5ee;
                    transition: all 0.5s ease;
                    height: 15px;
                    width: 15px;
                }
                 .slds-icon-standard-user {
                    background-color: transparent;
                }
                 .dateicon{position:absolute; right:15px; top:28px}
                 .editicon{position:absolute; right:0px}
                 .border-div:hover .slds-icon{fill: #0070d2; transition: all 0.5s ease;}
                
                .forceInlineEdit {
                  border-radius:5px;
                  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.16); padding:10px; margin:10px
                }
                 .required {
                  color: rgb(194, 57, 52);
                  float: left;
                  font-weight: 700;
                  padding-right: 2px;
                }
                 .forcePageBlockItemEdit {
                  background: rgb(250, 255, 189) none repeat scroll 0 0; padding:10px
                }
                 .noborder{ border:0}
                 .section_heading{ font-size:20px; margin:10px 0 10px 0; color:#0070d2 }
                .sectionwrap{ margin-bottom:20px}
                
                 .deleteicon .slds-icon{fill:#0070d2}
                
                 .l_align td{ text-align:left}
                 .l_align th{ text-align:left}
                
                .slds-button--brand {
                  background-color: #0070d2;
                  border: 1px solid #0070d2;
                  color: white;
                  padding-left:1rem;
                  padding-right:1rem;
                  text-align: center;
                  vertical-align: middle;
                }
                
                 .slds-button {
                  -moz-user-select: none;
                  background: transparent none repeat scroll 0 0;
                  border: 1px solid transparent;
                  border-radius: 0.25rem;
                  color: #0070d2;
                  display: inline-block;
                  font-size: 0.75rem;
                  line-height:1.875rem;
                  position: relative;
                  text-decoration: none;
                  transition: color 0.05s linear 0s, background-color 0.05s linear 0s;
                  white-space: normal;
                }
                
                 .slds-button--neutral {
                  background-color: white;
                  border: 1px solid #d8dde6;
                  text-align: center;
                  vertical-align: middle;
                }
                 .slds-button--brand {
                  background-color: #0070d2;
                  border: 1px solid #0070d2;
                  color:#fff
                }
                .slds-tabs--default{padding:0 10px}
                
                 .slds-active{
                  background: #f4f6f9 none repeat scroll 0 0;
                  border-color:none;
                  color: #16325c;
                }
                
                 .slds-form-element__control .slds-radio{display:inline-block}
                 .slds-radio .slds-radio--faux{margin-right:5px;}
                 label{margin-bottom:0}
                
                 .slds-icon--large {
                    height: 15px;
                    width: 15px;
                }
                 .slds-icon {
                    border-radius: 0.25rem;
                    fill: white;
                    height: 15px;
                    width: 15px;
                }
                 .slds-icon-standard-user {
                    background-color: transparent;
                }
                
                 body{ margin:10px}
                 #accordion .panel-heading { padding: 0;}
                 #accordion .panel-title > a {
                    display: block;
                    padding:12px 10px;
                    outline: none;
                    font-weight:bold;
                    text-decoration: none;
                    
                }
                 .panel-title a:hover {
                    text-decoration: none;
                }
                 .panel-title a:focus {
                    text-decoration: none;
                }
                 .panel {
                    background-color: #fff;
                    border: 1px solid transparent;
                    border-radius:5px;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
                    margin-bottom:10px;
                }
                 .panel-default > .panel-heading {
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#607ba4+0,4e6993+100 */
                background: #607ba4; /* Old browsers */
                background: -moz-linear-gradient(top, #607ba4 0%, #4e6993 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #607ba4 0%,#4e6993 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #607ba4 0%,#4e6993 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#607ba4', endColorstr='#4e6993',GradientType=0 ); /* IE6-9 */
                    border-color: #607aa3;
                    color: #fff; text-transform: uppercase;
                
                }
                 .panel-default > .panel-heading a {
                    color: #fff;
                }
                 .panel-title {
                    color: inherit;
                    margin-bottom: 0;
                    margin-top: 0;
                    font-weight:bold
                }
                 .panel-body {
                    padding: 10px 15px;
                    background:#eef1f6;
                    border-radius:0 0 5px 5px
                }
                 .collapse.in {
                    display: block;
                }
                 .collapse {
                    display: none;
                }
                 .panel-default {
                    border-color: #a7b8d1;}
                 .answerdiv{background: #fff none repeat scroll 0 0;
                    border-radius:0 0 5px 5px;
                    margin: 0 0;
                    padding:5px 15px;
                    border:1px solid #cfd7e6}
                
                
                 .scorediv {
                  display: inline-block;
                  margin-bottom: 10px;
                  width: 100%;
                }
                 .inner_heading{ padding:10px 15px; border-radius:5px 5px 0 0;background:#dbdfe6; color:#506a94; font-weight:bold}
                 .slds-radio{ margin:5px 0}
                
                
                 .progressdiv {
                    font-weight: bold;
                    position: absolute;
                    right: 15px;
                    text-transform: uppercase;
                    top: 10px;
                    width:290px;font-size:12px
                }
                
                 .progress {
                    background-color: #f5f5f5;
                    border-radius:20px;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
                    height:15px;
                    overflow: hidden; width:200px; margin-bottom:0
                }
                 .panel-heading{position:relative}
                 .progress-bar {
                    background-color: #24a259;
                    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
                    color: #fff;
                    float: left;
                    font-size: 12px;
                    height: 100%;
                    line-height: 20px;
                    text-align: center;
                    transition: width 0.6s ease 0s;
                    width: 0;
                }
                 .score{ float:left; dispaly:inline-block; margin-right:10px; margin-top:1px}
                 .score_value{ float:right; dispaly:inline-block; margin-left:10px; margin-top:-14px}
                 .green{ background:#24a259}
                 .red{ background:#ff0000}
                 .orange{ background:#ff9000}
                
                 .panel-default > .open{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d4d80+0,17335e+100 */
                background: #2d4d80; /* Old browsers */
                background: -moz-linear-gradient(top, #2d4d80 0%, #17335e 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #2d4d80 0%,#17335e 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #2d4d80 0%,#17335e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d4d80', endColorstr='#17335e',GradientType=0 ); /* IE6-9 */}
                
                 .panel-title {
                  font-size: inherit;
                }
                 .slds-form-element__label {
                  font-size: 13px;
                  font-weight: normal;}
                
                .top_heading{font-weight:300; color:#54698d; margin:10px 0 10px 0}
                
                #accordion{ clear:both}
                .slds-tabs--default {
                    display: inline-block;
                    width: 100%;
                }
                
                 .slds-form--inline{ margin:10px 0}
                
                
                
                .acc_div{ padding:15px}
                
                
                 .panel-body_two {
                  background: #fff ;
                }
                
                
                
                
                /*  bhoechie tab */
                 div.bhoechie-tab-container{
                    margin-top:10px;
                    display:inline-block;
                    width:100%
                }
                 div.bhoechie-tab-menu{
                  padding-right: 0;
                  padding-left: 0;
                  padding-bottom: 0;
                    font-size:14px
                }
                 div.bhoechie-tab-menu div.list-group{
                  margin-bottom: 0;
                }
                 div.bhoechie-tab-menu div.list-group>a{
                  margin-bottom: 0;
                }
                 div.bhoechie-tab-menu div.list-group>a .glyphicon,
                
                 div.bhoechie-tab-menu div.list-group>a:first-child{
                  border-top-right-radius: 0;
                  -moz-border-top-right-radius: 0;
                }
                 div.bhoechie-tab-menu div.list-group>a:last-child{
                  border-bottom-right-radius: 0;
                  -moz-border-bottom-right-radius: 0;
                }
                 div.bhoechie-tab-menu div.list-group>a.active,
                 div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
                 div.bhoechie-tab-menu div.list-group>a.active .fa{
                  background-color: #0070d2;
                  background-image: #0070d2;
                  color: #ffffff;
                }
                 div.bhoechie-tab-menu div.list-group>a.active:after{
                  content: '';
                  position: absolute;
                  left: 100%;
                  top: 50%;
                  margin-top: -13px;
                  border-left: 0;
                  border-bottom: 13px solid transparent;
                  border-top: 13px solid transparent;
                  border-left: 10px solid #0070d2;
                }
                
                 div.bhoechie-tab-content{
                  background-color: #ffffff;
                  /* border: 1px solid #eeeeee; */
                
                }
                
                 div.bhoechie-tab div.bhoechie-tab-content:not(.active){
                  display: none;
                    
                }
                 .bhoechie-tab{
                    border:1px solid #ccc; border-radius:0 4px 4px 4px; box-shadow:0 0 5px #ccc; min-height:400px
                }
                
                 .list-group-item {
                  background-color:#eee;
                  border:0;
                  border-bottom:1px solid #ccc
                
                }
                 body{background:#eee}
                
                 .bhoechie-tab-content .slds-table th {
                  background: #0c457c none repeat scroll 0 0;
                  border-right: 1px solid #d8dde6;
                  color: #fff;
                }
                
                .sectionwrap > span{                  
                    display: inline-block;
                    width: 100%;

                }
                 .error {
                  color: red !important;
                }
				.progress_value_top{    
					width: 94%;
					text-align: center;
					padding: 0 0 2px 0;
					font-weight: bold;
					color: #137494;
					margin-top: -10px; 
					font-size:15px
				}
       
            .progress_bar{background:#e8ebee; height:10px; display:inline-block;width:94%; border-radius:10px}
            .totalprogress {
    background: #33bce7;
    height: 10px;
    position: static;
    display: inline-block;
    width: 0%;
    border-radius: 10px;
}
            .totalprogress .progress_value {
    /*display: inline-block;
    float: right;
    padding: 2px 5px;
    border: 1px solid #1391b8;
    border-radius: 20px;
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    top: -8px;
    left:26px;
    right: 0;
    background: #23a5ce;
    background: -moz-linear-gradient(left, #23a5ce 0%, #31b9e4 100%);
    background: -webkit-linear-gradient(left, #23a5ce 0%,#31b9e4 100%);
    background: linear-gradient(to right, #23a5ce 0%,#31b9e4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23a5ce', endColorstr='#31b9e4',GradientType=1 );
	
	display: inline-block;
    width: 18px;
    height: 18px;
    float: right;
    border: 2px solid #1391b8;
    border-radius: 50%;
    position: relative;
    top: -5px;
    left: 10px;
    right: 0;
    background: #23a5ce;
    background: -moz-linear-gradient(left, #23a5ce 0%, #31b9e4 100%);
    background: -webkit-linear-gradient(left, #23a5ce 0%,#31b9e4 100%);
    background: linear-gradient(to right, #23a5ce 0%,#31b9e4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23a5ce', endColorstr='#31b9e4',GradientType=1 );*/
	
	
	
	display: inline-block;
	box-shadow:0 0 2px #1391b9;
	width: 18px;
	height: 18px;
	float: right;
	border: 2px solid #fff;
	border-radius: 50%;
	position: relative;
	top: -5px;
	left: 8px;
	right: 0;
	background: #33b6e2; 
	background: -moz-linear-gradient(top, #33b6e2 1%, #0c6786 100%); 
	background: -webkit-linear-gradient(top, #33b6e2 1%,#0c6786 100%); 
	background: linear-gradient(to bottom, #33b6e2 1%,#0c6786 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33b6e2', endColorstr='#0c6786',GradientType=0 );
}
             .estimated_Cost {color: #3db368;display: inline-block;font-size: 20px;font-weight: bold;}
             .estimated_Cost span{font-size:24px}
             .date_day{color: #2c81c1;
                display: inline-block;
                float: left;
                font-size: 30px;
                font-weight: bold;
                line-height: 24px;
                vertical-align: top;}
             .date_month{color: #2c81c1;
                display: inline-block;
                float: left;
                font-size: 12px;
                font-weight: 600;
                line-height: 12px;
                text-align: left;
                text-transform: uppercase;
                margin-left:5px
            }
            
             .date_wrap{ position:absolute; bottom:10px; left:0}
             
             .slds .slds-badge{ margin:2px 5px; display:inline-block}
             .border-div {min-height: 65px;}
             .slds .slds-badge + .slds-badge {margin-left: 5px;}
             .date_wrap {position: inherit;}
             .slds-scope .slds-button{ padding:5px 20px; font-size:14px; line-height:inherit}
             .slds-scope .slds-text-heading--label th,td{ font-size:14px}
             .slds-table .slds-input {
        width: auto;
        max-width: inherit;
        padding: 5px 10px;
    }
    .cSk_EarnedAwardFeeValueTable .tdClass {
        vertical-align: middle;
    }
    
        .photoContainer {vertical-align: inherit;}
        
        .cusbadge {
            background: #ffffff; 
            background: -moz-linear-gradient(top, #ffffff 0%, #e8ebee 100%); 
            background: -webkit-linear-gradient(top, #ffffff 0%,#e8ebee 100%); 
            background: linear-gradient(to bottom, #ffffff 0%,#e8ebee 100%); 
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8ebee',GradientType=0 );
                padding: 5px 10px;
                font-size: 11px;
                text-transform: capitalize;
                letter-spacing: normal;
                font-weight: 600;
                border:1px solid #e8ebee;
                margin: 0 5px 5px 5px;
                display: inline-block;
            
            }
            .estimated_Cost {
                line-height: 16px;
            }
        
            .sectionwrap {
            padding: 20px 0;
            margin: 20px!important;
            border-radius: 5px;
            box-shadow: 0px 0px 10px #555;}
        
            .section_heading{font-size: 24px!important;}
            .slds .slds-tabs--default__content {
                padding: 0;
            }
            
            
            .slds .slds-icon-text-default {
                fill: #0070d2;
                width: 14px;
                height: 14px;
            }
            .slds .slds-icon-standard-user {
                background-color: transparent;
            }
            
            .border-div .editicon{opacity:0.5}
            .border-div:hover .editicon{opacity:1}
            
            .slds .slds-pill {
                margin: 2px 0;
            }
            
            .slds .slds-pill a:hover { text-decoration:none
            }
            
            .slds input[type="checkbox"] {width:auto!important; height:auto!important}
            
           .buttondiv {padding: 0 20px 20px 20px; text-align:center}
           .buttondiv input { margin:0 5px}
          .slds-pill__icon_container{ background:transparent!important}
          .slds-modal__container > .slds-p-around--medium > fieldset{
              border: none;
              float: left;
              width: 70%;
          }
          .slds-modal__container table td{
              float: left;
              width: 100%;
          }