<style type="text/css">
        .errorMsg{
            width:159px;
        }
       .custPopup{
           background-color: white;
           border-width: 3px;
           border-style: solid;
           z-index: 9999;
           left: 50%;
           padding:10px;
           position: absolute;
           /* These are the 3 css properties you will need to change so the popup
           displays in the center of the screen. First set the width. Then set
           margin-left to negative half of what the width is. You can add
           the height property for a fixed size pop up if you want.*/
           width: 200px;
           //margin-left: -80px;
           top:100px;
           margin-left: -170px;
           //top:305px;           
          border-radius: 5px;
       }
       .popupBackground{
           background-color:black;
           opacity: 0.20;
           filter: alpha(opacity = 20);
           position: absolute;
           width: 100%;           
           height: 100%;
           top: 0;
           left: 0;
           z-index: 9998;
       }
       a.actionlink:hover{
           text-decoration:underline;
       }
       .customactionLink {
            color: #015BA7;
            font-weight: normal;
            text-decoration: none;
        }
   </style>    