.THIS.test {
   display:none;
}
.THIS.modal{
    display:block;
}
.THIS.dropDown {
    display: none;
}
.THIS .atAGlance{
    background:#ffffff;
    border-radius:5px;
    display:inline-block;
    width:100%;
    border:1px solid #ccc;
    padding: 13px 8px;
    margin-top: 0px;
}
.THIS .fieldImg{float: left; display: inline-block; margin: 0 10px 0 0;}
.THIS .smallSocialPhoto {
  border-radius: 0.25rem;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
}
.THIS .circular {
  border-radius: 50%;
}
.THIS .photoContainer {
  background-clip: content-box;
  display: inline-block;
  padding-right:5px;
  vertical-align: middle;
}
.THIS .labelCol{ margin-bottom:5px}
.THIS .border-div{ border-bottom:1px solid rgb(216, 221, 230); padding:8px 0; position:relative}
.THIS .itemBody{
    display: inline-block;
    line-height: normal;
    min-height: 35px;
    vertical-align: middle;
    width: 100%;}
.THIS .itemLabel{color: rgb(84, 105, 141); font-size: 0.75rem;}
.THIS .slds-icon--large {
    height: 15px;
    width: 15px;
}
.THIS .slds-icon {
    border-radius: 0.25rem;
    fill: #e0e5ee;
    transition: all 0.5s ease;
  
}
.THIS .slds-icon-standard-user {
    background-color: transparent;
}
.THIS .dateicon{position:absolute; right:15px; top:28px}
.THIS .editicon{position:absolute; right:15px}
.THIS .border-div:hover .slds-icon{fill: #0070d2; transition: all 0.5s ease;}
.THIS.forceInlineEdit {
  border-radius:5px;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.16); padding:10px; margin:10px
}
.THIS .required {
  color: rgb(194, 57, 52);
  float: left;
  font-weight: 700;
  padding-right: 2px;
}
.THIS .forcePageBlockItemEdit {
  background: rgb(250, 255, 189) none repeat scroll 0 0; padding:10px
}
.THIS .noborder{ border:0}
.THIS .section_heading{ font-size:16px; margin:10px 0 10px 0; color:#4e6993 }
.THIS.sectionwrap{ }
.THIS .wrapDiv{display: inline-block;
    width: 100%;
    margin: 5px 0;}
.THIS .progress_bar{background:#e8ebee; height:15px; display:inline-block;width:94%; border-radius:10px}
.THIS .totalprogress{background:#33bce7; height:15px; position:relative; display:inline-block;width:55%; border-radius:10px}
.THIS .totalprogress .progress_value{display:inline-block; padding:5px 10px; border:1px solid #1391b8; border-radius:20px; position:absolute; color:#fff; font-weight:bold; font-size:16px;top:-11px; right:0;
background: #23a5ce; /* Old browsers */
background: -moz-linear-gradient(left, #23a5ce 0%, #31b9e4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #23a5ce 0%,#31b9e4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #23a5ce 0%,#31b9e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23a5ce', endColorstr='#31b9e4',GradientType=1 ); /* IE6-9 */}
.THIS .estimated_Cost {color: #3db368;display: inline-block;font-size: 20px;font-weight: bold;}
.THIS .estimated_Cost span{font-size:24px}
.THIS .date_day{color: #2c81c1;
    display: inline-block;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 24px;
    vertical-align: top;}
.THIS .date_month{color: #2c81c1;
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    margin-left:5px
}

.THIS .date_wrap{ position:absolute; bottom:10px; left:0}

.THIS .border-div {
    padding: 8px 0 0;}


.THIS .summary_box{margin:38px 0 0 0; padding:0; display:inline-block; width:100%; list-style-type:none}
.THIS .summary_box li{margin:0 50px 0 0; padding:0; display:inline-block; list-style-type:none}
.THIS .summary_box li:last-child{margin:0 0 0 0;}
.THIS .bidbox{ font-size: 18px; padding: 5px 0 0 0;overflow: hidden;line-height: 18px;}/*white-space: nowrap;*/
.THIS .bidbox p{font-weight: 600;font-size: 16px;}
.THIS .bidbox1{overflow: inherit;}/*word-break: break-all;white-space: normal;*/
.THIS .amountbox{color:#00c6b7; font-size:18px; float:left}
.THIS .amountbox p{font-weight:600; font-size:16px}
.THIS .capturebox{color:#7769cd; font-size:18px; float:left}
.THIS .capturebox p{font-weight:600; font-size:16px}
.THIS .summary_box li span{width:auto; height:50px; float:left; margin:0 10px 0 0}
.THIS .hideit{display:none!important;}
.THIS .clonemodal{
    margin-top: 76px;
    height: 95%;
}
.THIS .slds-spinner_container {
    position: fixed!important;
    z-index: 10000;
}

.THIS .flexipageBaseRecordHomeTemplateDesktop {
    min-width: auto;

}