.THIS {
}
.THIS .noQuestion{
        margin-top: 10px;
    margin-left: 10px;
   /* display: inline;*/
}
.THIS .hideonuncheck{
    width: 10px;
}
.THIS .noqueslablcls{
    vertical-align: sub;
    margin-right: 5px;
}
.THIS .hidethis{display:none;}
.THIS .chkbox{
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.THIS .emailbtn{
    padding-bottom: 19px!important;
}
.THIS .cust_disable{
    background: rgb(224, 229, 238);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
	cursor: not-allowed;
}
.THIS .cusErr{
    color: red;
}