.THIS .hrline{
    display: block;
    margin: 0 0;
    border-top: 1px solid red;
    width: 84%;
    clear: both;
    margin-top: -1%;
}
.THIS .required {
    border-left: 4px solid red;
}
.THIS .required1 {
    border-bottom: 2px solid #0A2638;
}
.THIS .alrequired {
    border-left: 4px solid red!important;
}
.THIS td{vertical-align: middle;}


.THIS .validationClass {
        border: 1px solid red;
    border-radius: 4px;
}
.THIS .slds-input {
    line-height: 32px!important;
}

.THIS .uiInput--select.select:not([multiple]){
    height: 32px!important;
}
.THIS .uiInput--select .select:not([multiple]){
    height: 32px!important;
}

.THIS .slds-form-element__label {
    display: none;
   
}
.THIS .checkBoxCls{
   /* width: 1.50rem!important;
    height: 1.50rem!important;
    margin-top: 7px;*/
}
.THIS .deletebtn:focus{ outline: 0   }
.THIS .hidediv{
    /* background-color: rgb(233, 234, 236);
    border-color: rgb(196, 198, 202);
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
    
    cursor: not-allowed!important;
    pointer-events: none!important;
    opacity: 0.5!important;
    /*background: rgba(0, 0, 0, 0.10)!important;*/
}