.THIS .slds-table--bordered td{
    border-top: 1px solid #d8dde6;
    vertical-align: middle;
}
.THIS .slds-table--bordered th {
    border-top: 1px solid #d8dde6;
    vertical-align: middle;
}
.THIS .slds-table--cell-buffer tr>td:last-child{
    padding-right: 5px;
}
.THIS .slds-table--cell-buffer tr>th:last-child {
    padding-right: 5px;
}

.THIS .slds-table--cell-buffer tr>td:first-child {
    padding-left: 5px;
}
.THIS .slds-table--cell-buffer tr>th:first-child {
    padding-left: 5px;
}
.THIS .emailOutput a:hover {
cursor: default;
    text-decoration: none;
}
.THIS .emailOutput a:focus{
cursor: default;
    text-decoration: none;
}
.THIS a:focus{
 outline: 0;
}
.THIS a:focus{
    opacity: 1;
}
.THIS a:hover{
    outline: 0;
    opacity: 1;
}
.THIS .checkBoxClass{
    display: inline-block;
}
.THIS .editbtn{opacity: 0.5;}
.THIS .editcls{
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #555;
     width: 20px;
    padding: 0 5px 0 0;
    height: 20px;
}
.THIS .delCls{
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 5px;
     width: 20px;
    height: 20px;
}
.THIS .undoCls{
    vertical-align: middle;
    padding: 0 5px 0 0;
    height: 20px;
    width: 20px;
    display: inline-block;
    border-right: 1px solid #555;
}
.THIS .slds-hide {
    display: none;
}