.THIS .spanMnditoryClass{
    color: Red;
    font-weight: bold;
    position: static;
    display: inline-block;
    float: left;
    margin-right: 5px;
    
}
.THIS .validationClass {
    border: 1px solid red;
    border-radius: 4px;
}
.THIS .slds-table td.tdClass{position:static}
.THIS .slds-lookup.slds-has-selection .slds-pill {
    width: 100%;
}
.THIS a:focus{
    outline: 0;
    opacity: 1;
}
.THIS a:hover{
    outline: 0;
    opacity: 1;
}
.THIS .widthClass{
    width: 95%!important;
}
.THIS .editbtn{opacity: 0.5;}
.THIS .tdClass{white-space: inherit;}
.THIS .reqfieldcls {
    border-left: 4px solid red!important;
}
.THIS .editcls{
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #555;
     width: 20px;
    padding: 0 5px 0 0;
    height: 20px;
}
.THIS .delCls{
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 5px;
     width: 20px;
    height: 20px;
}
.THIS .undoCls{
    vertical-align: middle;
    padding: 0 5px 0 0;
    height: 20px;
    width: 20px;
    display: inline-block;
    border-right: 1px solid #555;
}
.THIS .slds-table--cell-buffer tr>td:first-child {
    padding-left: 5px;
}

.THIS .slds-table--cell-buffer tr>th:first-child {
    padding-left: 5px;
}

.THIS .slds-hide {
    display: none;
}